In [2]:
# Add dependencies
import pandas as pd
import numpy as np
import matplotlib as mpl

### Loading CSV's

In [3]:
# load files
cost_attendance_df = pd.read_csv("Resources/cost-attendance.csv")
financial_aid_df = pd.read_csv("Resources/financial-aid.csv")
grad_rates_df = pd.read_csv("Resources/grad-rates.csv")
institutions_df = pd.read_csv("Resources/institutions.csv")
net_price_df = pd.read_csv("Resources/net-price.csv")
retention_rates_df = pd.read_csv("Resources/retention-rates.csv")

### Institutions

In [3]:
# Inspect Institutions and clean
institutions_df.head()
# institutions_df.columns.to_list()
# len(institutions_df)
# institutions_df.dtypes

,UnitID,Institution Name,Institution name alias (HD2016),Street address or post office box (HD2016),City location of institution (HD2016),State abbreviation (HD2016),ZIP code (HD2016),Institution's internet website address (HD2016),Longitude location of institution (HD2016),Latitude location of institution (HD2016),...,Grand total (EF2016A All students Undergraduate total),American Indian or Alaska Native total (EF2016A All students Undergraduate total),Asian total (EF2016A All students Undergraduate total),Black or African American total (EF2016A All students Undergraduate total),Hispanic total (EF2016A All students Undergraduate total),Native Hawaiian or Other Pacific Islander total (EF2016A All students Undergraduate total),White total (EF2016A All students Undergraduate total),Two or more races total (EF2016A All students Undergraduate total),Race/ethnicity unknown total (EF2016A All students Undergraduate total),Nonresident alien total (EF2016A All students Undergraduate total)
0,180203,Aaniiih Nakoda College,,269 Blackfeet Avenue Agency,Harlem,MT,59526,www.ancollege.edu,-108.757816,48.484196,...,149.0,140.0,0.0,0.0,0.0,0.0,9.0,0.0,0.0,0.0
1,222178,Abilene Christian University,,,Abilene,TX,79699,www.acu.edu,-99.709540,32.469150,...,3758.0,12.0,42.0,338.0,616.0,4.0,2402.0,185.0,10.0,149.0
2,138558,Abraham Baldwin Agricultural College,ABAC,2802 Moore Hwy,Tifton,GA,31793-2601,www.abac.edu,-83.528281,31.481889,...,3475.0,16.0,27.0,316.0,208.0,2.0,2808.0,45.0,0.0,53.0
3,488031,Abraham Lincoln University,,3530 Wilshire Boulevard Suite 1430,Los Angeles,CA,90010,www.alu.edu/,-118.301181,34.060990,...,25.0,0.0,4.0,3.0,4.0,1.0,5.0,1.0,7.0,0.0
4,172866,Academy College,,1600 W. 82nd Street Suite 100,Bloomington,MN,55431-1411,www.academycollege.edu,-93.299809,44.855722,...,116.0,1.0,11.0,14.0,4.0,0.0,73.0,2.0,11.0,0.0

In [4]:
# look at null values per column
institutions_df.isnull().sum()

UnitID                                                                                             0
Institution Name                                                                                   0
Institution name alias (HD2016)                                                                   33
Street address or post office box (HD2016)                                                        33
City location of institution (HD2016)                                                             33
State abbreviation (HD2016)                                                                       33
ZIP code (HD2016)                                                                                 33
Institution's internet website address (HD2016)                                                   33
Longitude location of institution (HD2016)                                                        33
Latitude location of institution (HD2016)                                                         33
Historically Black College or University (HD2016)                                                 33
Bureau of Economic Analysis (BEA) regions (HD2016)                                                33
Tribal college (HD2016)                                                                           33
Sector of institution (HD2016)                                                                    33
Control of institution (HD2016)                                                                   33
Percent admitted - total (DRVADM2016)                                                           2013
Grand total (EF2016  All students  Undergraduate total)                                           33
Total men (EF2016  All students  Undergraduate total)                                             33
Total women (EF2016  All students  Undergraduate total)                                           33
Grand total (EF2016A  All students  Undergraduate total)                                          33
American Indian or Alaska Native total (EF2016A  All students  Undergraduate total)               33
Asian total (EF2016A  All students  Undergraduate total)                                          33
Black or African American total (EF2016A  All students  Undergraduate total)                      33
Hispanic total (EF2016A  All students  Undergraduate total)                                       33
Native Hawaiian or Other Pacific Islander total (EF2016A  All students  Undergraduate total)      33
White total (EF2016A  All students  Undergraduate total)                                          33
Two or more races total (EF2016A  All students  Undergraduate total)                              33
Race/ethnicity unknown total (EF2016A  All students  Undergraduate total)                         33
Nonresident alien total (EF2016A  All students  Undergraduate total)                              33
dtype: int64

In [5]:
columns = ['Institution Name', 'Grand total (EF2016A  All students  Undergraduate total)']
clean_institutions_df = institutions_df.dropna(subset=columns)
clean_institutions_df.head()
len(clean_institutions_df)

3810

In [6]:
clean_institutions_df.isnull().sum()

UnitID                                                                                             0
Institution Name                                                                                   0
Institution name alias (HD2016)                                                                    0
Street address or post office box (HD2016)                                                         0
City location of institution (HD2016)                                                              0
State abbreviation (HD2016)                                                                        0
ZIP code (HD2016)                                                                                  0
Institution's internet website address (HD2016)                                                    0
Longitude location of institution (HD2016)                                                         0
Latitude location of institution (HD2016)                                                          0
Historically Black College or University (HD2016)                                                  0
Bureau of Economic Analysis (BEA) regions (HD2016)                                                 0
Tribal college (HD2016)                                                                            0
Sector of institution (HD2016)                                                                     0
Control of institution (HD2016)                                                                    0
Percent admitted - total (DRVADM2016)                                                           1980
Grand total (EF2016  All students  Undergraduate total)                                            0
Total men (EF2016  All students  Undergraduate total)                                              0
Total women (EF2016  All students  Undergraduate total)                                            0
Grand total (EF2016A  All students  Undergraduate total)                                           0
American Indian or Alaska Native total (EF2016A  All students  Undergraduate total)                0
Asian total (EF2016A  All students  Undergraduate total)                                           0
Black or African American total (EF2016A  All students  Undergraduate total)                       0
Hispanic total (EF2016A  All students  Undergraduate total)                                        0
Native Hawaiian or Other Pacific Islander total (EF2016A  All students  Undergraduate total)       0
White total (EF2016A  All students  Undergraduate total)                                           0
Two or more races total (EF2016A  All students  Undergraduate total)                               0
Race/ethnicity unknown total (EF2016A  All students  Undergraduate total)                          0
Nonresident alien total (EF2016A  All students  Undergraduate total)                               0
dtype: int64

### Graduation rates

In [7]:
#Look at grad rates
grad_rates_df

,UnitID,Institution Name,Institution name alias (HD2016),Street address or post office box (HD2016),City location of institution (HD2016),State abbreviation (HD2016),Grand total (GR2016 Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total),American Indian or Alaska Native total (GR2016 Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total),Asian total (GR2016 Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total),Black or African American total (GR2016 Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total),...,Grand total (GR2011 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE),American Indian or Alaska Native total (GR2011 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE),Asian total (GR2011 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE),Black or African American total (GR2011 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE),Hispanic total (GR2011 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE),Native Hawaiian or Other Pacific Islander total (GR2011 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE),White total (GR2011 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE),Race/ethnicity unknown total (GR2011 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE),Two or more races total (GR2011 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE),Nonresident alien total (GR2011 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE)
0,180203,Aaniiih Nakoda College,,269 Blackfeet Avenue Agency,Harlem,MT,NaN,NaN,NaN,NaN,...,32.6,26.3,NaN,NaN,NaN,NaN,80.0,NaN,NaN,NaN
1,222178,Abilene Christian University,,,Abilene,TX,608.0,1.0,9.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,138558,Abraham Baldwin Agricultural College,ABAC,2802 Moore Hwy,Tifton,GA,19.0,0.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,488031,Abraham Lincoln University,,3530 Wilshire Boulevard Suite 1430,Los Angeles,CA,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,172866,Academy College,,1600 W. 82nd Street Suite 100,Bloomington,MN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3838,206695,Youngstown State University,,One University Plaza,Youngstown,OH,734.0,3.0,18.0,48.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3839,375939,YTI Career Institute-Altoona,,2900 Fairway Dr,Altoona,PA,NaN,NaN,NaN,NaN,...,72.8,75.0,NaN,42.9,100.0,NaN,73.3,66.7,NaN,NaN
3840,217077,YTI Career Institute-York,YTI,1405 Williams Road,York,PA,NaN,NaN,NaN,NaN,...,79.6,87.5,81.8,61.4,70.9,NaN,82.7,90.9,50.0,NaN
3841,126119,Yuba College,,2088 N Beale Rd,Marysville,CA,NaN,NaN,NaN,NaN,...,19.2,9.1,21.0,8.5,14.8,20.0,21.9,23.1,NaN,0.0
3842,204255,Zane State College,,1555 Newark Rd,Zanesville,OH,NaN,NaN,NaN,NaN,...,29.1,0.0,0.0,27.0,25.0,NaN,30.1,16.7,NaN,NaN

In [8]:
base_columns_df = pd.DataFrame(grad_rates_df[['UnitID',
 'Institution Name',
 'Institution name alias (HD2016)',
 'Street address or post office box (HD2016)',
 'City location of institution (HD2016)',
 'State abbreviation (HD2016)']].dropna())
base_columns_df

,UnitID,Institution Name,Institution name alias (HD2016),Street address or post office box (HD2016),City location of institution (HD2016),State abbreviation (HD2016)
0,180203,Aaniiih Nakoda College,,269 Blackfeet Avenue Agency,Harlem,MT
1,222178,Abilene Christian University,,,Abilene,TX
2,138558,Abraham Baldwin Agricultural College,ABAC,2802 Moore Hwy,Tifton,GA
3,488031,Abraham Lincoln University,,3530 Wilshire Boulevard Suite 1430,Los Angeles,CA
4,172866,Academy College,,1600 W. 82nd Street Suite 100,Bloomington,MN
...,...,...,...,...,...,...
3838,206695,Youngstown State University,,One University Plaza,Youngstown,OH
3839,375939,YTI Career Institute-Altoona,,2900 Fairway Dr,Altoona,PA
3840,217077,YTI Career Institute-York,YTI,1405 Williams Road,York,PA
3841,126119,Yuba College,,2088 N Beale Rd,Marysville,CA
3842,204255,Zane State College,,1555 Newark Rd,Zanesville,OH

In [9]:
base_grad_rates_2016_df = pd.DataFrame(grad_rates_df.filter(regex='GR2016'))
# grad_rates_2016.loc[[title_2016]]
base_grad_rates_2016_df

,Grand total (GR2016 Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total),American Indian or Alaska Native total (GR2016 Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total),Asian total (GR2016 Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total),Black or African American total (GR2016 Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total),Hispanic total (GR2016 Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total),Native Hawaiian or Other Pacific Islander total (GR2016 Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total),White total (GR2016 Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total),Race/ethnicity unknown total (GR2016 Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total),Two or more races total (GR2016 Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total),Nonresident alien total (GR2016 Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total),...,Grand total (GR2016 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE),American Indian or Alaska Native total (GR2016 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE),Asian total (GR2016 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE),Black or African American total (GR2016 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE),Hispanic total (GR2016 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE),Native Hawaiian or Other Pacific Islander total (GR2016 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE),White total (GR2016 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE),Race/ethnicity unknown total (GR2016 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE),Two or more races total (GR2016 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE),Nonresident alien total (GR2016 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE)
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,32.0,28.6,NaN,NaN,100.0,NaN,33.3,NaN,NaN,NaN
1,608.0,1.0,9.0,20.0,38.0,0.0,516.0,0.0,17.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,19.0,0.0,1.0,1.0,0.0,0.0,17.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3838,734.0,3.0,18.0,48.0,12.0,0.0,629.0,18.0,1.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3839,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,61.8,100.0,NaN,33.3,0.0,NaN,62.3,NaN,100.0,NaN
3840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,65.8,75.0,57.1,42.1,58.1,100.0,69.8,0.0,75.7,NaN
3841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,25.0,33.3,49.4,11.1,20.7,0.0,23.5,27.5,15.4,0.0
3842,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,28.3,NaN,0.0,37.5,0.0,NaN,28.5,50.0,11.1,NaN

In [10]:
for column in grad_rates_df:
    print(column)

UnitID
Institution Name
Institution name alias (HD2016)
Street address or post office box (HD2016)
City location of institution (HD2016)
State abbreviation (HD2016)
Grand total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
American Indian or Alaska Native total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Asian total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Black or African American total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Hispanic total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Native Hawaiian or Other Pacific Islander total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
White total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Race/ethnicity unknown total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Two or more races total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Nonresident alien total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Grand total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
American Indian or Alaska Native total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Asian total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Black or African American total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Hispanic total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Native Hawaiian or Other Pacific Islander total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
White total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Race/ethnicity unknown total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Two or more races total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Nonresident alien total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Grand total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
American Indian or Alaska Native total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Asian total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Black or African American total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Hispanic total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Native Hawaiian or Other Pacific Islander total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
White total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Race/ethnicity unknown total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Two or more races total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Nonresident alien total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Grand total (GR2015  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
American Indian or Alaska Native total (GR2015  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Asian total (GR2015  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Black or African American total (GR2015  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Hispanic total (GR2015  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Native Hawaiian or Other Pacific Islander total (GR2015  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
White total (GR2015  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Race/ethnicity unknown total (GR2015  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Two or more races total (GR2015  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Nonresident alien total (GR2015  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Grand total (GR2015  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
American Indian or Alaska Native total (GR2015  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Asian total (GR2015  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Black or African American total (GR2015  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Hispanic total (GR2015  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Native Hawaiian or Other Pacific Islander total (GR2015  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
White total (GR2015  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Race/ethnicity unknown total (GR2015  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Two or more races total (GR2015  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Nonresident alien total (GR2015  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Grand total (GR2015  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
American Indian or Alaska Native total (GR2015  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Asian total (GR2015  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Black or African American total (GR2015  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Hispanic total (GR2015  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Native Hawaiian or Other Pacific Islander total (GR2015  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
White total (GR2015  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Race/ethnicity unknown total (GR2015  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Two or more races total (GR2015  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Nonresident alien total (GR2015  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Grand total (GR2014  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
American Indian or Alaska Native total (GR2014  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Asian total (GR2014  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Black or African American total (GR2014  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Hispanic total (GR2014  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Native Hawaiian or Other Pacific Islander total (GR2014  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
White total (GR2014  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Race/ethnicity unknown total (GR2014  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Two or more races total (GR2014  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Nonresident alien total (GR2014  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Grand total (GR2014  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
American Indian or Alaska Native total (GR2014  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Asian total (GR2014  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Black or African American total (GR2014  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Hispanic total (GR2014  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Native Hawaiian or Other Pacific Islander total (GR2014  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
White total (GR2014  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Race/ethnicity unknown total (GR2014  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Two or more races total (GR2014  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Nonresident alien total (GR2014  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Grand total (GR2014  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
American Indian or Alaska Native total (GR2014  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Asian total (GR2014  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Black or African American total (GR2014  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Hispanic total (GR2014  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Native Hawaiian or Other Pacific Islander total (GR2014  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
White total (GR2014  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Race/ethnicity unknown total (GR2014  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Two or more races total (GR2014  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Nonresident alien total (GR2014  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Grand total (GR2013  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
American Indian or Alaska Native total (GR2013  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Asian total (GR2013  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Black or African American total (GR2013  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Hispanic total (GR2013  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Native Hawaiian or Other Pacific Islander total (GR2013  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
White total (GR2013  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Race/ethnicity unknown total (GR2013  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Two or more races total (GR2013  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Nonresident alien total (GR2013  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Grand total (GR2013  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
American Indian or Alaska Native total (GR2013  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Asian total (GR2013  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Black or African American total (GR2013  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Hispanic total (GR2013  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Native Hawaiian or Other Pacific Islander total (GR2013  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
White total (GR2013  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Race/ethnicity unknown total (GR2013  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Two or more races total (GR2013  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Nonresident alien total (GR2013  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Grand total (GR2013  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
American Indian or Alaska Native total (GR2013  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Asian total (GR2013  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Black or African American total (GR2013  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Hispanic total (GR2013  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Native Hawaiian or Other Pacific Islander total (GR2013  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
White total (GR2013  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Race/ethnicity unknown total (GR2013  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Two or more races total (GR2013  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Nonresident alien total (GR2013  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Grand total (GR2012  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
American Indian or Alaska Native total (GR2012  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Asian total (GR2012  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Black or African American total (GR2012  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Hispanic total (GR2012  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Native Hawaiian or Other Pacific Islander total (GR2012  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
White total (GR2012  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Race/ethnicity unknown total (GR2012  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Two or more races total (GR2012  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Nonresident alien total (GR2012  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Grand total (GR2012  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
American Indian or Alaska Native total (GR2012  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Asian total (GR2012  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Black or African American total (GR2012  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Hispanic total (GR2012  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Native Hawaiian or Other Pacific Islander total (GR2012  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
White total (GR2012  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Race/ethnicity unknown total (GR2012  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Two or more races total (GR2012  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Nonresident alien total (GR2012  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Grand total (GR2012  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
American Indian or Alaska Native total (GR2012  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Asian total (GR2012  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Black or African American total (GR2012  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Hispanic total (GR2012  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Native Hawaiian or Other Pacific Islander total (GR2012  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
White total (GR2012  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Race/ethnicity unknown total (GR2012  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Two or more races total (GR2012  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Nonresident alien total (GR2012  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Grand total (GR2011  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
American Indian or Alaska Native total (GR2011  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Asian total (GR2011  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Black or African American total (GR2011  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Hispanic total (GR2011  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Native Hawaiian or Other Pacific Islander total (GR2011  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
White total (GR2011  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Race/ethnicity unknown total (GR2011  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Two or more races total (GR2011  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)

In [11]:
def filter_rates(cur_df, year_input, length_input): 
    final_df = {}
    for columns in cur_df:
        unit = cur_df.filter(regex='UnitID')
        institution = cur_df.filter(regex='Institution Name')
        main = cur_df.filter(regex='HD2016')
        rates = cur_df.filter(regex=year_input)
        for column in rates:
            year = cur_df.filter(regex=year_input)
            for column in year:
                length = year.filter(regex=length_input)
                final_df = unit.join(institution).join(main).join(length)
            return final_df
        return final_df
    return final_df

In [12]:
fin_rates_2016 = filter_rates(grad_rates_df, '2016', '4-yr')
fin_rates_2016

,UnitID,Institution Name,Institution name alias (HD2016),Street address or post office box (HD2016),City location of institution (HD2016),State abbreviation (HD2016),Grand total (GR2016 Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total),American Indian or Alaska Native total (GR2016 Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total),Asian total (GR2016 Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total),Black or African American total (GR2016 Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total),...,Grand total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),American Indian or Alaska Native total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Asian total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Black or African American total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Hispanic total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Native Hawaiian or Other Pacific Islander total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),White total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Race/ethnicity unknown total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Two or more races total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Nonresident alien total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
0,180203,Aaniiih Nakoda College,,269 Blackfeet Avenue Agency,Harlem,MT,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,222178,Abilene Christian University,,,Abilene,TX,608.0,1.0,9.0,20.0,...,62.5,33.3,75.0,33.3,48.7,0.0,66.0,NaN,65.4,63.6
2,138558,Abraham Baldwin Agricultural College,ABAC,2802 Moore Hwy,Tifton,GA,19.0,0.0,1.0,1.0,...,31.7,NaN,100.0,20.0,NaN,NaN,32.1,NaN,0.0,NaN
3,488031,Abraham Lincoln University,,3530 Wilshire Boulevard Suite 1430,Los Angeles,CA,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,172866,Academy College,,1600 W. 82nd Street Suite 100,Bloomington,MN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3838,206695,Youngstown State University,,One University Plaza,Youngstown,OH,734.0,3.0,18.0,48.0,...,31.5,23.1,58.1,9.4,15.6,NaN,38.9,25.4,20.0,71.4
3839,375939,YTI Career Institute-Altoona,,2900 Fairway Dr,Altoona,PA,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3840,217077,YTI Career Institute-York,YTI,1405 Williams Road,York,PA,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3841,126119,Yuba College,,2088 N Beale Rd,Marysville,CA,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3842,204255,Zane State College,,1555 Newark Rd,Zanesville,OH,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
fin_rates_2016.count()

UnitID                                                                                                                                                          3843
Institution Name                                                                                                                                                3843
Institution name alias (HD2016)                                                                                                                                 3810
Street address or post office box (HD2016)                                                                                                                      3810
City location of institution (HD2016)                                                                                                                           3810
State abbreviation (HD2016)                                                                                                                                     3810
Grand total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)                                              1945
American Indian or Alaska Native total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)                   1945
Asian total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)                                              1945
Black or African American total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)                          1945
Hispanic total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)                                           1945
Native Hawaiian or Other Pacific Islander total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)          1945
White total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)                                              1945
Race/ethnicity unknown total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)                             1945
Two or more races total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)                                  1945
Nonresident alien total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)                                  1945
Grand total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))                                        2005
American Indian or Alaska Native total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))             2005
Asian total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))                                        2005
Black or African American total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))                    2005
Hispanic total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))                                     2005
Native Hawaiian or Other Pacific Islander total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))    2005
White total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))                                        2005
Race/ethnicity unknown total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))                       2005
Two or more races total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))                            2005
Nonresident alien total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))                            2005
Grand total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)                                                               2005
American Indian or Alaska Native total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)                                    1207
Asian total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)                                                               1507
Black or African American total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)                                           1799
Hispanic total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)                                                            1754
Native Hawaiian or Other Pacific Islander total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)                            714
White total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)                                                               1929
Race/ethnicity unknown total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)                                              1474
Two or more races total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)                                                   1374
Nonresident alien total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)                                                   1397
dtype: int64

In [14]:
fin_rates_2016.dropna(axis=0, thresh=6, inplace=True)
fin_rates_2016.count()

UnitID                                                                                                                                                          3810
Institution Name                                                                                                                                                3810
Institution name alias (HD2016)                                                                                                                                 3810
Street address or post office box (HD2016)                                                                                                                      3810
City location of institution (HD2016)                                                                                                                           3810
State abbreviation (HD2016)                                                                                                                                     3810
Grand total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)                                              1945
American Indian or Alaska Native total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)                   1945
Asian total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)                                              1945
Black or African American total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)                          1945
Hispanic total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)                                           1945
Native Hawaiian or Other Pacific Islander total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)          1945
White total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)                                              1945
Race/ethnicity unknown total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)                             1945
Two or more races total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)                                  1945
Nonresident alien total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)                                  1945
Grand total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))                                        2005
American Indian or Alaska Native total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))             2005
Asian total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))                                        2005
Black or African American total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))                    2005
Hispanic total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))                                     2005
Native Hawaiian or Other Pacific Islander total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))    2005
White total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))                                        2005
Race/ethnicity unknown total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))                       2005
Two or more races total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))                            2005
Nonresident alien total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))                            2005
Grand total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)                                                               2005
American Indian or Alaska Native total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)                                    1207
Asian total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)                                                               1507
Black or African American total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)                                           1799
Hispanic total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)                                                            1754
Native Hawaiian or Other Pacific Islander total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)                            714
White total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)                                                               1929
Race/ethnicity unknown total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)                                              1474
Two or more races total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)                                                   1374
Nonresident alien total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)                                                   1397
dtype: int64

In [15]:
fin_rates_2016

,UnitID,Institution Name,Institution name alias (HD2016),Street address or post office box (HD2016),City location of institution (HD2016),State abbreviation (HD2016),Grand total (GR2016 Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total),American Indian or Alaska Native total (GR2016 Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total),Asian total (GR2016 Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total),Black or African American total (GR2016 Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total),...,Grand total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),American Indian or Alaska Native total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Asian total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Black or African American total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Hispanic total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Native Hawaiian or Other Pacific Islander total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),White total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Race/ethnicity unknown total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Two or more races total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Nonresident alien total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
0,180203,Aaniiih Nakoda College,,269 Blackfeet Avenue Agency,Harlem,MT,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,222178,Abilene Christian University,,,Abilene,TX,608.0,1.0,9.0,20.0,...,62.5,33.3,75.0,33.3,48.7,0.0,66.0,NaN,65.4,63.6
2,138558,Abraham Baldwin Agricultural College,ABAC,2802 Moore Hwy,Tifton,GA,19.0,0.0,1.0,1.0,...,31.7,NaN,100.0,20.0,NaN,NaN,32.1,NaN,0.0,NaN
3,488031,Abraham Lincoln University,,3530 Wilshire Boulevard Suite 1430,Los Angeles,CA,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,172866,Academy College,,1600 W. 82nd Street Suite 100,Bloomington,MN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3838,206695,Youngstown State University,,One University Plaza,Youngstown,OH,734.0,3.0,18.0,48.0,...,31.5,23.1,58.1,9.4,15.6,NaN,38.9,25.4,20.0,71.4
3839,375939,YTI Career Institute-Altoona,,2900 Fairway Dr,Altoona,PA,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3840,217077,YTI Career Institute-York,YTI,1405 Williams Road,York,PA,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3841,126119,Yuba College,,2088 N Beale Rd,Marysville,CA,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3842,204255,Zane State College,,1555 Newark Rd,Zanesville,OH,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
# rates function
def filt_rates(cur_df, year_input, length_input): 
    final_df = {}
    df = {}
    for columns in cur_df:
        unit = cur_df.filter(regex='UnitID')
        institution = cur_df.filter(regex='Institution Name')
        main = cur_df.filter(regex='HD2016')
        rates = cur_df.filter(regex=year_input)
        for column in rates:
            year = cur_df.filter(regex=year_input)
            for column in year:
                length = year.filter(regex=length_input)
                df = unit.join(institution).join(main).join(length)
            return df
        return df
        for row in df:
            rows_to_keep = [row for rows in df.rows if df[row].isna().sum() >= 9]
            final_df = df[rows_to_keep] #.dropna(axis=0, thresh=6, inplace=True)
        return final_df
    return final_df

In [17]:
# rates function
def filt_rates(cur_df, year_input, length_input): 
    final_df = {}
    df = {}
    for columns in cur_df:
        unit = cur_df.filter(regex='UnitID')
        institution = cur_df.filter(regex='Institution Name')
        main = cur_df.filter(regex='HD2016')
        rates = cur_df.filter(regex=year_input)
        for column in rates:
            year = cur_df.filter(regex=year_input)
            for column in year:
                length = year.filter(regex=length_input)
                for column in length:
                    calc = length.filter(regex='CALCULATED')
                    df = unit.join(institution).join(main).join(calc)
                return df
        return df
        for row in df:
            rows_to_keep = [row for rows in df.rows if df[row].isna().sum() >= 9]
            final_df = df[rows_to_keep] #.dropna(axis=0, thresh=6, inplace=True)
        return final_df
    return final_df

In [54]:
final_rates = filt_rates(grad_rates_df, '2016', '4-yr')
final_rates

,UnitID,Institution Name,Institution name alias (HD2016),Street address or post office box (HD2016),City location of institution (HD2016),State abbreviation (HD2016),Grand total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),American Indian or Alaska Native total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Asian total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Black or African American total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Hispanic total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Native Hawaiian or Other Pacific Islander total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),White total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Race/ethnicity unknown total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Two or more races total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Nonresident alien total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
0,180203,Aaniiih Nakoda College,,269 Blackfeet Avenue Agency,Harlem,MT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,222178,Abilene Christian University,,,Abilene,TX,62.5,33.3,75.0,33.3,48.7,0.0,66.0,NaN,65.4,63.6
2,138558,Abraham Baldwin Agricultural College,ABAC,2802 Moore Hwy,Tifton,GA,31.7,NaN,100.0,20.0,NaN,NaN,32.1,NaN,0.0,NaN
3,488031,Abraham Lincoln University,,3530 Wilshire Boulevard Suite 1430,Los Angeles,CA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,172866,Academy College,,1600 W. 82nd Street Suite 100,Bloomington,MN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3838,206695,Youngstown State University,,One University Plaza,Youngstown,OH,31.5,23.1,58.1,9.4,15.6,NaN,38.9,25.4,20.0,71.4
3839,375939,YTI Career Institute-Altoona,,2900 Fairway Dr,Altoona,PA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3840,217077,YTI Career Institute-York,YTI,1405 Williams Road,York,PA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3841,126119,Yuba College,,2088 N Beale Rd,Marysville,CA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3842,204255,Zane State College,,1555 Newark Rd,Zanesville,OH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
#2016 rates
final_rates = filt_rates(grad_rates_df, '2016', '4-yr')
# final_rates.dropna(axis=0, thresh=6, inplace=True)

columns = final_rates.columns.to_list()[6:]

final_rates_2016 = final_rates.dropna(subset=columns, thresh=1).reset_index(drop=True)
final_rates_2016
# final_rates_2016.to_csv("Resources/Data/2016_rates.csv", index_label='UnitID')

,UnitID,Institution Name,Institution name alias (HD2016),Street address or post office box (HD2016),City location of institution (HD2016),State abbreviation (HD2016),Grand total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),American Indian or Alaska Native total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Asian total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Black or African American total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Hispanic total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Native Hawaiian or Other Pacific Islander total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),White total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Race/ethnicity unknown total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Two or more races total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Nonresident alien total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
0,222178,Abilene Christian University,,,Abilene,TX,62.5,33.3,75.0,33.3,48.7,0.0,66.0,NaN,65.4,63.6
1,138558,Abraham Baldwin Agricultural College,ABAC,2802 Moore Hwy,Tifton,GA,31.7,NaN,100.0,20.0,NaN,NaN,32.1,NaN,0.0,NaN
2,108232,Academy of Art University,,79 New Montgomery,San Francisco,CA,37.2,0.0,55.6,14.9,25.0,NaN,32.6,36.5,NaN,50.3
3,126182,Adams State University,,208 Edgemont Blvd,Alamosa,CO,28.8,20.0,33.3,16.0,25.5,33.3,32.8,31.6,16.7,NaN
4,188429,Adelphi University,,South Ave,Garden City,NY,68.2,50.0,80.6,56.1,61.9,100.0,70.7,69.1,50.0,60.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2000,197744,Yeshivath Zichron Moshe,,Laurel Park Road,South Fallsburg,NY,6.3,NaN,NaN,NaN,NaN,NaN,7.1,NaN,NaN,0.0
2001,181853,York College,,1125 E 8th St,York,NE,68.2,0.0,50.0,33.3,85.7,NaN,75.9,57.1,NaN,0.0
2002,217059,York College of Pennsylvania,YCP,441 Country Club Rd,York,PA,60.5,0.0,40.0,41.8,39.0,75.0,63.8,42.9,37.5,66.7
2003,141361,Young Harris College,YHC |Young Harris,1 College Street,Young Harris,GA,46.8,NaN,0.0,57.1,75.0,NaN,45.6,50.0,NaN,33.3
2004,206695,Youngstown State University,,One University Plaza,Youngstown,OH,31.5,23.1,58.1,9.4,15.6,NaN,38.9,25.4,20.0,71.4

In [57]:
columns

["Grand total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)",
 "American Indian or Alaska Native total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)",
 "Asian total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)",
 "Black or African American total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)",
 "Hispanic total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)",
 "Native Hawaiian or Other Pacific Islander total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)",
 "White total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)",
 "Race/ethnicity unknown total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)",
 "Two or more races total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)",
 "Nonresident alien total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)"]

In [96]:
df = final_rates_2016.unique('State abbreviation (HD2016)')

AttributeError: 'DataFrame' object has no attribute 'unique'

In [94]:
final_rates_2016

,UnitID,Institution Name,Institution name alias (HD2016),Street address or post office box (HD2016),City location of institution (HD2016),State abbreviation (HD2016),Grand total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),American Indian or Alaska Native total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Asian total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Black or African American total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Hispanic total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Native Hawaiian or Other Pacific Islander total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),White total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Race/ethnicity unknown total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Two or more races total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Nonresident alien total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
0,222178,Abilene Christian University,,,Abilene,TX,62.5,33.3,75.0,33.3,48.7,0.0,66.0,NaN,65.4,63.6
1,138558,Abraham Baldwin Agricultural College,ABAC,2802 Moore Hwy,Tifton,GA,31.7,NaN,100.0,20.0,NaN,NaN,32.1,NaN,0.0,NaN
2,108232,Academy of Art University,,79 New Montgomery,San Francisco,CA,37.2,0.0,55.6,14.9,25.0,NaN,32.6,36.5,NaN,50.3
3,126182,Adams State University,,208 Edgemont Blvd,Alamosa,CO,28.8,20.0,33.3,16.0,25.5,33.3,32.8,31.6,16.7,NaN
4,188429,Adelphi University,,South Ave,Garden City,NY,68.2,50.0,80.6,56.1,61.9,100.0,70.7,69.1,50.0,60.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2000,197744,Yeshivath Zichron Moshe,,Laurel Park Road,South Fallsburg,NY,6.3,NaN,NaN,NaN,NaN,NaN,7.1,NaN,NaN,0.0
2001,181853,York College,,1125 E 8th St,York,NE,68.2,0.0,50.0,33.3,85.7,NaN,75.9,57.1,NaN,0.0
2002,217059,York College of Pennsylvania,YCP,441 Country Club Rd,York,PA,60.5,0.0,40.0,41.8,39.0,75.0,63.8,42.9,37.5,66.7
2003,141361,Young Harris College,YHC |Young Harris,1 College Street,Young Harris,GA,46.8,NaN,0.0,57.1,75.0,NaN,45.6,50.0,NaN,33.3
2004,206695,Youngstown State University,,One University Plaza,Youngstown,OH,31.5,23.1,58.1,9.4,15.6,NaN,38.9,25.4,20.0,71.4

In [58]:
avg_2016 = []

for column in final_rates_2016:
    avg = final_rates_2016.mean()
    for column in avg:
        calc = avg.filter(regex='CALCULATED')
# return 
# avg_2016 = pd.DataFrame(calc)
# avg_2016

C:\Users\mthal\AppData\Local\Temp/ipykernel_28356/3686841503.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  avg = final_rates_2016.mean()

In [42]:
avg_2016_df = pd.DataFrame(avg_2016).mean()
avg_2016_df

0    49.900076
dtype: float64

In [107]:
# rates function
def filt_total_rates(cur_df, year_input): 
    final_df = {}
    df = {}
    for columns in cur_df:
        unit = cur_df.filter(regex='UnitID')
        institution = cur_df.filter(regex='Institution Name')
        main = cur_df.filter(regex='HD2016')
        rates = cur_df.filter(regex=year_input)
        for column in rates:
            year = cur_df.filter(regex=year_input)
            for column in year:
                calc = year.filter(regex='CALCULATED')
                df = unit.join(institution).join(main).join(calc)
            return df
        return df
        for row in df:
            rows_to_keep = [row for rows in df.rows if df[row].isna().sum() >= 9]
            final_df = df[rows_to_keep] 
        return final_df
    return final_df

In [108]:
final_2011_rates = filt_total_rates(grad_rates_df, '2011')
final_2011_rates

,UnitID,Institution Name,Institution name alias (HD2016),Street address or post office box (HD2016),City location of institution (HD2016),State abbreviation (HD2016),Grand total (GR2011 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),American Indian or Alaska Native total (GR2011 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Asian total (GR2011 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Black or African American total (GR2011 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),...,Grand total (GR2011 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE),American Indian or Alaska Native total (GR2011 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE),Asian total (GR2011 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE),Black or African American total (GR2011 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE),Hispanic total (GR2011 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE),Native Hawaiian or Other Pacific Islander total (GR2011 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE),White total (GR2011 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE),Race/ethnicity unknown total (GR2011 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE),Two or more races total (GR2011 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE),Nonresident alien total (GR2011 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE)
0,180203,Aaniiih Nakoda College,,269 Blackfeet Avenue Agency,Harlem,MT,NaN,NaN,NaN,NaN,...,32.6,26.3,NaN,NaN,NaN,NaN,80.0,NaN,NaN,NaN
1,222178,Abilene Christian University,,,Abilene,TX,59.8,25.0,70.0,41.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,138558,Abraham Baldwin Agricultural College,ABAC,2802 Moore Hwy,Tifton,GA,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,488031,Abraham Lincoln University,,3530 Wilshire Boulevard Suite 1430,Los Angeles,CA,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,172866,Academy College,,1600 W. 82nd Street Suite 100,Bloomington,MN,50.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3838,206695,Youngstown State University,,One University Plaza,Youngstown,OH,35.4,36.4,33.3,12.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3839,375939,YTI Career Institute-Altoona,,2900 Fairway Dr,Altoona,PA,NaN,NaN,NaN,NaN,...,72.8,75.0,NaN,42.9,100.0,NaN,73.3,66.7,NaN,NaN
3840,217077,YTI Career Institute-York,YTI,1405 Williams Road,York,PA,NaN,NaN,NaN,NaN,...,79.6,87.5,81.8,61.4,70.9,NaN,82.7,90.9,50.0,NaN
3841,126119,Yuba College,,2088 N Beale Rd,Marysville,CA,NaN,NaN,NaN,NaN,...,19.2,9.1,21.0,8.5,14.8,20.0,21.9,23.1,NaN,0.0
3842,204255,Zane State College,,1555 Newark Rd,Zanesville,OH,NaN,NaN,NaN,NaN,...,29.1,0.0,0.0,27.0,25.0,NaN,30.1,16.7,NaN,NaN

In [105]:
final_2011_rates = filt_total_rates(grad_rates_df, '2011')
final_2011_rates

columns = final_2011_rates.columns.to_list()[6:]

df = final_2011_rates.dropna(subset=columns, thresh=1).reset_index(drop=True)
df

,UnitID,Institution Name,Institution name alias (HD2016),Street address or post office box (HD2016),City location of institution (HD2016),State abbreviation (HD2016),Grand total (GR2011 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),American Indian or Alaska Native total (GR2011 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Asian total (GR2011 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Black or African American total (GR2011 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),...,Grand total (GR2011 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE),American Indian or Alaska Native total (GR2011 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE),Asian total (GR2011 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE),Black or African American total (GR2011 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE),Hispanic total (GR2011 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE),Native Hawaiian or Other Pacific Islander total (GR2011 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE),White total (GR2011 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE),Race/ethnicity unknown total (GR2011 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE),Two or more races total (GR2011 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE),Nonresident alien total (GR2011 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE)
0,180203,Aaniiih Nakoda College,,269 Blackfeet Avenue Agency,Harlem,MT,NaN,NaN,NaN,NaN,...,32.6,26.3,NaN,NaN,NaN,NaN,80.0,NaN,NaN,NaN
1,222178,Abilene Christian University,,,Abilene,TX,59.8,25.0,70.0,41.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,172866,Academy College,,1600 W. 82nd Street Suite 100,Bloomington,MN,50.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,412173,Academy for Nursing and Health Occupations,ANHO,5154 Okeechobee Blvd Ste 201,West Palm Beach,FL,NaN,NaN,NaN,NaN,...,75.9,NaN,41.7,80.4,47.4,NaN,61.1,NaN,NaN,NaN
4,108232,Academy of Art University,,79 New Montgomery,San Francisco,CA,34.5,20.0,42.6,17.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3187,206695,Youngstown State University,,One University Plaza,Youngstown,OH,35.4,36.4,33.3,12.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3188,375939,YTI Career Institute-Altoona,,2900 Fairway Dr,Altoona,PA,NaN,NaN,NaN,NaN,...,72.8,75.0,NaN,42.9,100.0,NaN,73.3,66.7,NaN,NaN
3189,217077,YTI Career Institute-York,YTI,1405 Williams Road,York,PA,NaN,NaN,NaN,NaN,...,79.6,87.5,81.8,61.4,70.9,NaN,82.7,90.9,50.0,NaN
3190,126119,Yuba College,,2088 N Beale Rd,Marysville,CA,NaN,NaN,NaN,NaN,...,19.2,9.1,21.0,8.5,14.8,20.0,21.9,23.1,NaN,0.0
3191,204255,Zane State College,,1555 Newark Rd,Zanesville,OH,NaN,NaN,NaN,NaN,...,29.1,0.0,0.0,27.0,25.0,NaN,30.1,16.7,NaN,NaN

In [122]:
#2016 rates
final_rates = filt_rates(grad_rates_df, '2016', '4-yr')
final_rates.dropna(axis=0, thresh=6, inplace=True)

columns = final_rates.columns.to_list()[6:]

final_rates_2016 = final_rates.dropna(subset=columns, thresh=1).reset_index(drop=True)

avg_2016 = []

for column in final_rates_2016:
    avg = final_rates_2016.mean()
    for column in avg:
        calc = avg.filter(regex='CALCULATED')

avg_2016 = pd.DataFrame(calc)
df = pd.DataFrame(avg_2016)

C:\Users\mthal\AppData\Local\Temp/ipykernel_28356/4108015984.py:12: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  avg = final_rates_2016.mean()

In [124]:
type(df)

pandas.core.frame.DataFrame

In [128]:
df.set_axis({'Rates'}, axis=1)

                                                        Rates
Grand total (GR2016  Bachelor's or equiv subcoh...  49.991122
American Indian or Alaska Native total (GR2016 ...  44.131980
Asian total (GR2016  Bachelor's or equiv subcoh...  56.436231
Black or African American total (GR2016  Bachel...  40.323680
Hispanic total (GR2016  Bachelor's or equiv sub...  47.433238
Native Hawaiian or Other Pacific Islander total...  50.881092
White total (GR2016  Bachelor's or equiv subcoh...  53.386936
Race/ethnicity unknown total (GR2016  Bachelor'...  47.772592
Two or more races total (GR2016  Bachelor's or ...  50.026710
Nonresident alien total (GR2016  Bachelor's or ...  58.617180

In [37]:
final_rates_2016.groupby

<bound method DataFrame.groupby of       UnitID                      Institution Name  \
0     222178          Abilene Christian University
1     138558  Abraham Baldwin Agricultural College
2     108232             Academy of Art University
3     126182                Adams State University
4     188429                    Adelphi University
...      ...                                   ...
2000  197744               Yeshivath Zichron Moshe
2001  181853                          York College
2002  217059          York College of Pennsylvania
2003  141361                  Young Harris College
2004  206695           Youngstown State University

     Institution name alias (HD2016)  \
0
1                               ABAC
2
3
4
...                              ...
2000
2001
2002                             YCP
2003               YHC |Young Harris
2004

     Street address or post office box (HD2016)  \
0
1                                2802 Moore Hwy
2                             79 New Montgomery
3                             208 Edgemont Blvd
4                                     South Ave
...                                         ...
2000                           Laurel Park Road
2001                              1125 E 8th St
2002                        441 Country Club Rd
2003                           1 College Street
2004                       One University Plaza

     City location of institution (HD2016) State abbreviation (HD2016)  \
0                                  Abilene                          TX
1                                   Tifton                          GA
2                            San Francisco                          CA
3                                  Alamosa                          CO
4                              Garden City                          NY
...                                    ...                         ...
2000                       South Fallsburg                          NY
2001                                  York                          NE
2002                                  York                          PA
2003                          Young Harris                          GA
2004                            Youngstown                          OH

      Grand total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)  \
0                                                  62.5
1                                                  31.7
2                                                  37.2
3                                                  28.8
4                                                  68.2
...                                                 ...
2000                                                6.3
2001                                               68.2
2002                                               60.5
2003                                               46.8
2004                                               31.5

      American Indian or Alaska Native total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)  \
0                                                  33.3
1                                                   NaN
2                                                   0.0
3                                                  20.0
4                                                  50.0
...                                                 ...
2000                                                NaN
2001                                                0.0
2002                                                0.0
2003                                                NaN
2004                                               23.1

      Asian total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)  \
0                                                  75.0
1                                                 100.0
2                                                  55.6
3                                                  33.3
4                                                  80.6
...                                                 ...
2000                                                NaN
2001                                               50.0
2002                                               40.0
2003                                                0.0
2004                                               58.1

      Black or African American total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)  \
0                                                  33.3
1                                                  20.0
2                                                  14.9
3                                                  16.0
4                                                  56.1
...                                                 ...
2000                                                NaN
2001                                               33.3
2002                                               41.8
2003                                               57.1
2004                                                9.4

      Hispanic total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)  \
0                                                  48.7
1                                                   NaN
2                                                  25.0
3                                                  25.5
4                                                  61.9
...                                                 ...
2000                                                NaN
2001                                               85.7
2002                                               39.0
2003                                               75.0
2004                                               15.6

      Native Hawaiian or Other Pacific Islander total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)  \
0                                                   0.0
1                                                   NaN
2                                                   NaN
3                                                  33.3
4                                                 100.0
...                                                 ...
2000                                                NaN
2001                                                NaN
2002                                               75.0
2003                                                NaN
2004                                                NaN

      White total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)  \
0                                                  66.0
1                                                  32.1
2                                                  32.6
3                                                  32.8
4                                                  70.7
...                                                 ...
2000                                                7.1
2001                                               75.9
2002                                               63.8
2003                                               45.6
2004                                               38.9

      Race/ethnicity unknown total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)  \
0                                                   NaN
1                                                   NaN
2                                                  36.5
3                                                  31.6
4                                                  69.1
...                                                 ...
2000                                                NaN
2001                                               57.1
2002                                               42.9
2003                                               50.0
2004                                               25.4

      Two or more races total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)  \
0                                                  65.4
1                                                   0.0
2                                                   NaN
3                                                  16.7
4                                                  50.0
...                                                 ...
2000                                                NaN
2001                                                NaN
2002                                               37.5
2003                                                NaN
2004                                               20.0

      Nonresident alien total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
0                                                  63.6
1                                                   NaN
2                                                  50.3
3                                                   NaN
4                                                  60.0
...                                                 ...
2000                                                0.0
2001                                                0.0
2002                                               66.7
2003                                               33.3
2004                                               71.4

[2005 rows x 16 columns]>

In [24]:
#2015 rates
final_rates = filt_rates(grad_rates_df, '2015', '4-yr')
final_rates.dropna(axis=0, thresh=6, inplace=True)

columns = final_rates.columns.to_list()[6:]

final_rates_2015 = final_rates.dropna(subset=columns, thresh=1).reset_index(drop=True)

final_rates_2015.to_csv("Resources/Data/2015_rates.csv", index_label='UnitID')

In [25]:
#2014 rates
final_rates = filt_rates(grad_rates_df, '2014', '4-yr')
final_rates.dropna(axis=0, thresh=6, inplace=True)

columns = final_rates.columns.to_list()[6:]

final_rates_2014 = final_rates.dropna(subset=columns, thresh=1).reset_index(drop=True)

final_rates_2014.to_csv("Resources/Data/2014_rates.csv", index_label='UnitID')

In [26]:
#2013 rates
final_rates = filt_rates(grad_rates_df, '2013', '4-yr')
final_rates.dropna(axis=0, thresh=6, inplace=True)

columns = final_rates.columns.to_list()[6:]

final_rates_2013= final_rates.dropna(subset=columns, thresh=1).reset_index(drop=True)

final_rates_2013.to_csv("Resources/Data/2013_rates.csv", index_label='UnitID')

In [27]:
#2012 rates
final_rates = filt_rates(grad_rates_df, '2012', '4-yr')
final_rates.dropna(axis=0, thresh=6, inplace=True)

columns = final_rates.columns.to_list()[6:]

final_rates_2012 = final_rates.dropna(subset=columns, thresh=1).reset_index(drop=True)

final_rates_2012.to_csv("Resources/Data/2012_rates.csv", index_label='UnitID')

In [28]:
#2011 rates
final_rates = filt_rates(grad_rates_df, '2011', '4-yr')
final_rates.dropna(axis=0, thresh=6, inplace=True)

columns = final_rates.columns.to_list()[6:]

final_rates_2011 = final_rates.dropna(subset=columns, thresh=1).reset_index(drop=True)

final_rates_2011.to_csv("Resources/Data/2011_rates.csv", index_label='UnitID')

In [29]:
#look at cost_attendance
cost_attendance_df.columns.to_list()

['UnitID',
 'Institution Name',
 'Institution name alias (HD2016)',
 'Street address or post office box (HD2016)',
 'City location of institution (HD2016)',
 'State abbreviation (HD2016)',
 'Published in-state tuition and fees 2017-18 (IC2017_AY)',
 'Total price for in-state students living on campus 2017-18 (DRVIC2017)',
 'Total price for out-of-state students living on campus 2017-18 (DRVIC2017)',
 'Total price for in-state students living off campus (not with family)  2017-18 (DRVIC2017)',
 'Total price for out-of-state students living off campus (not with family)  2017-18 (DRVIC2017)',
 'Total price for in-state students living off campus (with family)  2017-18 (DRVIC2017)',
 'Total price for out-of-state students living off campus (with family)  2017-18 (DRVIC2017)',
 'Published in-state tuition and fees 2016-17 (IC2016_AY)',
 'Total price for in-state students living on campus 2016-17 (DRVIC2016)',
 'Total price for out-of-state students living on campus 2016-17 (DRVIC2016)',
 'Total price for in-state students living off campus (not with family)  2016-17 (DRVIC2016)',
 'Total price for out-of-state students living off campus (not with family)  2016-17 (DRVIC2016)',
 'Total price for in-state students living off campus (with family)  2016-17 (DRVIC2016)',
 'Total price for out-of-state students living off campus (with family)  2016-17 (DRVIC2016)',
 'Published in-state tuition and fees 2015-16 (IC2015_AY)',
 'Total price for in-state students living on campus 2015-16 (DRVIC2015)',
 'Total price for out-of-state students living on campus 2015-16 (DRVIC2015)',
 'Total price for in-state students living off campus (not with family)  2015-16 (DRVIC2015)',
 'Total price for out-of-state students living off campus (not with family)  2015-16 (DRVIC2015)',
 'Total price for in-state students living off campus (with family)  2015-16 (DRVIC2015)',
 'Total price for out-of-state students living off campus (with family)  2015-16 (DRVIC2015)',
 'Published in-state tuition and fees 2014-15 (IC2014_AY)',
 'Total price for in-state students living on campus 2014-15 (DRVIC2014)',
 'Total price for out-of-state students living on campus 2014-15 (DRVIC2014)',
 'Total price for in-state students living off campus (not with family)  2014-15 (DRVIC2014)',
 'Total price for out-of-state students living off campus (not with family)  2014-15 (DRVIC2014)',
 'Total price for in-state students living off campus (with family)  2014-15 (DRVIC2014)',
 'Total price for out-of-state students living off campus (with family)  2014-15 (DRVIC2014)',
 'Published in-state tuition and fees 2013-14 (IC2013_AY)',
 'Total price for in-state students living on campus 2013-14 (DRVIC2013)',
 'Total price for out-of-state students living on campus 2013-14 (DRVIC2013)',
 'Total price for in-state students living off campus (not with family)  2013-14 (DRVIC2013)',
 'Total price for out-of-state students living off campus (not with family)  2013-14 (DRVIC2013)',
 'Total price for in-state students living off campus (with family)  2013-14 (DRVIC2013)',
 'Total price for out-of-state students living off campus (with family)  2013-14 (DRVIC2013)',
 'Published in-state tuition and fees 2012-13 (IC2012_AY)',
 'Total price for in-state students living on campus 2012-13 (DRVIC2012)',
 'Total price for out-of-state students living on campus 2012-13 (DRVIC2012)',
 'Total price for in-state students living off campus (not with family)  2012-13 (DRVIC2012)',
 'Total price for out-of-state students living off campus (not with family)  2012-13 (DRVIC2012)',
 'Total price for in-state students living off campus (with family)  2012-13 (DRVIC2012)',
 'Total price for out-of-state students living off campus (with family)  2012-13 (DRVIC2012)',
 'Published in-state tuition and fees 2011-12 (IC2011_AY)',
 'Total price for in-state students living on campus 2011-12 (DRVIC2011)',
 'Total price for out-of-state students living on campus 2011-12 (DRVIC2011)',
 'Total price for in-state students living off campus (not with family)  2011-12 (DRVIC2011)',
 'Total price for out-of-state students living off campus (not with family)  2011-12 (DRVIC2011)',
 'Total price for in-state students living off campus (with family)  2011-12 (DRVIC2011)',
 'Total price for out-of-state students living off campus (with family)  2011-12 (DRVIC2011)',
 'Published in-state tuition and fees 2010-11 (IC2010_AY)',
 'Total price for in-state students living on campus 2010-11 (DRVIC2010)',
 'Total price for out-of-state students living on campus 2010-11 (DRVIC2010)',
 'Total price for in-state students living off campus (not with family)  2010-11 (DRVIC2010)',
 'Total price for out-of-state students living off campus (not with family)  2010-11 (DRVIC2010)',
 'Total price for in-state students living off campus (with family)  2010-11 (DRVIC2010)',
 'Total price for out-of-state students living off campus (with family)  2010-11 (DRVIC2010)',
 'Published in-state tuition and fees 2009-10 (IC2009_AY)',
 'Total price for in-state students living on campus 2009-10 (DRVIC2009)',
 'Total price for out-of-state students living on campus 2009-10 (DRVIC2009)',
 'Total price for in-state students living off campus (not with family)  2009-10 (DRVIC2009)',
 'Total price for out-of-state students living off campus (not with family)  2009-10 (DRVIC2009)',
 'Total price for in-state students living off campus (with family)  2009-10 (DRVIC2009)',
 'Total price for out-of-state students living off campus (with family)  2009-10 (DRVIC2009)',
 'Total price for in-state students living on campus 2008-09 (DRVIC2008)',
 'Total price for out-of-state students living on campus 2008-09 (DRVIC2008)',
 'Total price for in-state students living off campus (not with family)  2008-09 (DRVIC2008)',
 'Total price for out-of-state students living off campus (not with family)  2008-09 (DRVIC2008)',
 'Total price for in-state students living off campus (with family)  2008-09 (DRVIC2008)',
 'Total price for out-of-state students living off campus (with family)  2008-09 (DRVIC2008)']

In [73]:
#Sort for 2017
for column in cost_attendance_df:    
    unit = cost_attendance_df.filter(regex='UnitID')
    institution = cost_attendance_df.filter(regex='Institution Name')
    main = cost_attendance_df.filter(regex='HD2016')
    cost_2017 = cost_attendance_df.filter(regex='2017-18')

final_cost_2017 = unit.join(institution).join(main).join(cost_2017)
final_cost_2017

,UnitID,Institution Name,Institution name alias (HD2016),Street address or post office box (HD2016),City location of institution (HD2016),State abbreviation (HD2016),Published in-state tuition and fees 2017-18 (IC2017_AY),Total price for in-state students living on campus 2017-18 (DRVIC2017),Total price for out-of-state students living on campus 2017-18 (DRVIC2017),Total price for in-state students living off campus (not with family) 2017-18 (DRVIC2017),Total price for out-of-state students living off campus (not with family) 2017-18 (DRVIC2017),Total price for in-state students living off campus (with family) 2017-18 (DRVIC2017),Total price for out-of-state students living off campus (with family) 2017-18 (DRVIC2017)
0,180203,Aaniiih Nakoda College,,269 Blackfeet Avenue Agency,Harlem,MT,2410.0,NaN,NaN,17030.0,17030.0,8510.0,8510.0
1,222178,Abilene Christian University,,,Abilene,TX,33330.0,48300.0,48300.0,48300.0,48300.0,37922.0,37922.0
2,138558,Abraham Baldwin Agricultural College,ABAC,2802 Moore Hwy,Tifton,GA,3503.0,15121.0,21859.0,13803.0,20541.0,7603.0,14341.0
3,488031,Abraham Lincoln University,,3530 Wilshire Boulevard Suite 1430,Los Angeles,CA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,172866,Academy College,,1600 W. 82nd Street Suite 100,Bloomington,MN,17661.0,NaN,NaN,36902.0,36902.0,28363.0,28363.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3838,206695,Youngstown State University,,One University Plaza,Youngstown,OH,8451.0,22447.0,22807.0,22447.0,22807.0,13789.0,14149.0
3839,375939,YTI Career Institute-Altoona,,2900 Fairway Dr,Altoona,PA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3840,217077,YTI Career Institute-York,YTI,1405 Williams Road,York,PA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3841,126119,Yuba College,,2088 N Beale Rd,Marysville,CA,1124.0,NaN,NaN,20510.0,25670.0,7352.0,12512.0
3842,204255,Zane State College,,1555 Newark Rd,Zanesville,OH,4646.0,NaN,NaN,14254.0,18814.0,9690.0,14250.0

In [83]:
#2017
for column in cost_attendance_df:    
    unit = cost_attendance_df.filter(regex='UnitID')
    institution = cost_attendance_df.filter(regex='Institution Name')
    main = cost_attendance_df.filter(regex='HD2016')
    cost_2017 = cost_attendance_df.filter(regex='2017-18')

cost = unit.join(institution).join(main).join(cost_2017)

columns = cost.columns.to_list()[6:]
filtered = cost.dropna(subset=columns, thresh=1).reset_index(drop=True)
for column in filtered:
    final_cost_2017 = pd.DataFrame(filtered.mean())[1:]
final_cost_2017.to_csv("Resources/Data/2017_cost.csv")

C:\Users\mthal\AppData\Local\Temp/ipykernel_28356/2837918032.py:13: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  final_cost_2017 = pd.DataFrame(filtered.mean())[1:]

                                                               0
Published in-state tuition and fees 2017-18 (IC...  15833.140211
Total price for in-state students living on cam...  34964.437093
Total price for out-of-state students living on...  38446.103759
Total price for in-state students living off ca...  29892.675000
Total price for out-of-state students living of...  32987.825581
Total price for in-state students living off ca...  20710.608721
Total price for out-of-state students living of...  23805.759302

In [31]:
#Sort for 2016
for column in cost_attendance_df:    
    unit = cost_attendance_df.filter(regex='UnitID')
    institution = cost_attendance_df.filter(regex='Institution Name')
    main = cost_attendance_df.filter(regex='HD2016')
    cost_2016 = cost_attendance_df.filter(regex='2016-17')

final_cost_2016 = unit.join(institution).join(main).join(cost_2016)

final_cost_2016.columns.to_list()

# final_cost_2016.to_csv("Resources/Data/2016_cost.csv", index_label='UnitID')

['UnitID',
 'Institution Name',
 'Institution name alias (HD2016)',
 'Street address or post office box (HD2016)',
 'City location of institution (HD2016)',
 'State abbreviation (HD2016)',
 'Published in-state tuition and fees 2016-17 (IC2016_AY)',
 'Total price for in-state students living on campus 2016-17 (DRVIC2016)',
 'Total price for out-of-state students living on campus 2016-17 (DRVIC2016)',
 'Total price for in-state students living off campus (not with family)  2016-17 (DRVIC2016)',
 'Total price for out-of-state students living off campus (not with family)  2016-17 (DRVIC2016)',
 'Total price for in-state students living off campus (with family)  2016-17 (DRVIC2016)',
 'Total price for out-of-state students living off campus (with family)  2016-17 (DRVIC2016)']

In [32]:
df = final_cost_2016.iloc[:, 6:13]
df.dropna(thresh=1).reset_index(drop=True)

for column in df:
    avg = df.mean()
# .plot(kind='bar')
avg_2016 = pd.DataFrame(avg)
avg_2016.round(2)

                                                           0
Published in-state tuition and fees 2016-17 (IC...  15427.07
Total price for in-state students living on cam...  34133.02
Total price for out-of-state students living on...  37552.23
Total price for in-state students living off ca...  29168.69
Total price for out-of-state students living of...  32188.74
Total price for in-state students living off ca...  20234.78
Total price for out-of-state students living of...  23252.33

In [33]:
df

,Published in-state tuition and fees 2016-17 (IC2016_AY),Total price for in-state students living on campus 2016-17 (DRVIC2016),Total price for out-of-state students living on campus 2016-17 (DRVIC2016),Total price for in-state students living off campus (not with family) 2016-17 (DRVIC2016),Total price for out-of-state students living off campus (not with family) 2016-17 (DRVIC2016),Total price for in-state students living off campus (with family) 2016-17 (DRVIC2016),Total price for out-of-state students living off campus (with family) 2016-17 (DRVIC2016)
0,2410.0,NaN,NaN,17030.0,17030.0,8510.0,8510.0
1,32070.0,45980.0,45980.0,45980.0,45980.0,36670.0,36670.0
2,3453.0,15025.0,21632.0,14053.0,20660.0,7653.0,14260.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,17409.0,NaN,NaN,36650.0,36650.0,28111.0,28111.0
...,...,...,...,...,...,...,...
3838,8317.0,22042.0,22282.0,22042.0,22282.0,13484.0,13724.0
3839,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3840,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3841,1144.0,NaN,NaN,19585.0,24745.0,7219.0,12379.0
3842,4646.0,NaN,NaN,16190.0,20750.0,11002.0,15562.0

In [34]:
df.dropna(thresh=1).reset_index(drop=True)
cost_by_state_2016 = df.iloc[:, 5:].groupby(by=['State abbreviation (HD2016)']).mean().round(2)
cost_by_state_2016

KeyError: 'State abbreviation (HD2016)'

In [1]:
#Sort for 2015
for column in cost_attendance_df:    
    unit = cost_attendance_df.filter(regex='UnitID')
    institution = cost_attendance_df.filter(regex='Institution Name')
    main = cost_attendance_df.filter(regex='HD2016')
    cost_2015 = cost_attendance_df.filter(regex='2015-16')

final_cost_2015 = unit.join(institution).join(main).join(cost_2015)

final_cost_2015.columns.to_list()

final_cost_2015.to_csv("Resources/Data/2015_cost.csv", index_label='UnitID')

NameError: name 'cost_attendance_df' is not defined

In [ ]:
#Sort for 2014
for column in cost_attendance_df:    
    unit = cost_attendance_df.filter(regex='UnitID')
    institution = cost_attendance_df.filter(regex='Institution Name')
    main = cost_attendance_df.filter(regex='HD2016')
    cost_2014 = cost_attendance_df.filter(regex='2014-15')

final_cost_2014 = unit.join(institution).join(main).join(cost_2014)

final_cost_2014.columns.to_list()

final_cost_2014.to_csv("Resources/Data/2014_cost.csv", index_label='UnitID')

In [ ]:
#Sort for 2013
for column in cost_attendance_df:    
    unit = cost_attendance_df.filter(regex='UnitID')
    institution = cost_attendance_df.filter(regex='Institution Name')
    main = cost_attendance_df.filter(regex='HD2016')
    cost_2013 = cost_attendance_df.filter(regex='2013-14')

final_cost_2013 = unit.join(institution).join(main).join(cost_2013)

final_cost_2013.columns.to_list()

final_cost_2013.to_csv("Resources/Data/2013_cost.csv", index_label='UnitID')

In [ ]:
#Sort for 2012
for column in cost_attendance_df:    
    unit = cost_attendance_df.filter(regex='UnitID')
    institution = cost_attendance_df.filter(regex='Institution Name')
    main = cost_attendance_df.filter(regex='HD2016')
    cost_2012 = cost_attendance_df.filter(regex='2012-13')

final_cost_2012 = unit.join(institution).join(main).join(cost_2012)

final_cost_2012.columns.to_list()

final_cost_2012.to_csv("Resources/Data/2012_cost.csv", index_label='UnitID')

In [ ]:
#Sort for 2011
for column in cost_attendance_df:    
    unit = cost_attendance_df.filter(regex='UnitID')
    institution = cost_attendance_df.filter(regex='Institution Name')
    main = cost_attendance_df.filter(regex='HD2016')
    cost_2011 = cost_attendance_df.filter(regex='2011-12')

final_cost_2011 = unit.join(institution).join(main).join(cost_2011)

final_cost_2011.columns.to_list()

final_cost_2011.to_csv("Resources/Data/2011_cost.csv", index_label='UnitID')

In [6]:
#Sort for 2010
for column in cost_attendance_df:    
    unit = cost_attendance_df.filter(regex='UnitID')
    institution = cost_attendance_df.filter(regex='Institution Name')
    main = cost_attendance_df.filter(regex='HD2016')
    cost_2010 = cost_attendance_df.filter(regex='2010-11')

final_cost_2010 = unit.join(institution).join(main).join(cost_2010)

final_cost_2010

# final_cost_2010.to_csv("Resources/Data/2010_cost.csv", index_label='UnitID')

,UnitID,Institution Name,Institution name alias (HD2016),Street address or post office box (HD2016),City location of institution (HD2016),State abbreviation (HD2016),Published in-state tuition and fees 2010-11 (IC2010_AY),Total price for in-state students living on campus 2010-11 (DRVIC2010),Total price for out-of-state students living on campus 2010-11 (DRVIC2010),Total price for in-state students living off campus (not with family) 2010-11 (DRVIC2010),Total price for out-of-state students living off campus (not with family) 2010-11 (DRVIC2010),Total price for in-state students living off campus (with family) 2010-11 (DRVIC2010),Total price for out-of-state students living off campus (with family) 2010-11 (DRVIC2010)
0,180203,Aaniiih Nakoda College,,269 Blackfeet Avenue Agency,Harlem,MT,2410.0,NaN,NaN,17030.0,17030.0,8510.0,8510.0
1,222178,Abilene Christian University,,,Abilene,TX,22760.0,35300.0,35300.0,NaN,NaN,NaN,NaN
2,138558,Abraham Baldwin Agricultural College,ABAC,2802 Moore Hwy,Tifton,GA,2962.0,13137.0,19137.0,15517.0,21517.0,5917.0,11917.0
3,488031,Abraham Lincoln University,,3530 Wilshire Boulevard Suite 1430,Los Angeles,CA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,172866,Academy College,,1600 W. 82nd Street Suite 100,Bloomington,MN,19095.0,NaN,NaN,30406.0,30406.0,23206.0,23206.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3838,206695,Youngstown State University,,One University Plaza,Youngstown,OH,7199.0,19407.0,19607.0,20998.0,21198.0,12298.0,12498.0
3839,375939,YTI Career Institute-Altoona,,2900 Fairway Dr,Altoona,PA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3840,217077,YTI Career Institute-York,YTI,1405 Williams Road,York,PA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3841,126119,Yuba College,,2088 N Beale Rd,Marysville,CA,752.0,NaN,NaN,17726.0,22274.0,6152.0,10700.0
3842,204255,Zane State College,,1555 Newark Rd,Zanesville,OH,4130.0,NaN,NaN,14747.0,18842.0,9833.0,13928.0

In [ ]:
#look at financial aid
financial_aid_df.columns.to_list()

In [ ]:
#Sort for 2015
for column in financial_aid_df:    
    unit = financial_aid_df.filter(regex='UnitID')
    institution = financial_aid_df.filter(regex='Institution Name')
    main = financial_aid_df.filter(regex='HD2016')
    financial_aid_2015 = financial_aid_df.filter(regex='SFA1516')

financial_aid_2015 = unit.join(institution).join(main).join(financial_aid_2015)

financial_aid_2015.columns.to_list()

financial_aid_2015.to_csv("Resources/Data/2015_financial_aid.csv", index_label='UnitID')

In [ ]:
#Sort for 2014
for column in financial_aid_df:    
    unit = financial_aid_df.filter(regex='UnitID')
    institution = financial_aid_df.filter(regex='Institution Name')
    main = financial_aid_df.filter(regex='HD2016')
    financial_aid_2014 = financial_aid_df.filter(regex='SFA1415')

financial_aid_2014 = unit.join(institution).join(main).join(financial_aid_2014)

financial_aid_2014.columns.to_list()

financial_aid_2014.to_csv("Resources/Data/2014_financial_aid.csv", index_label='UnitID')

In [ ]:
#Sort for 2013
for column in financial_aid_df:    
    unit = financial_aid_df.filter(regex='UnitID')
    institution = financial_aid_df.filter(regex='Institution Name')
    main = financial_aid_df.filter(regex='HD2016')
    financial_aid_2013 = financial_aid_df.filter(regex='SFA1314')

financial_aid_2013 = unit.join(institution).join(main).join(financial_aid_2013)

financial_aid_2013.columns.to_list()

financial_aid_2013.to_csv("Resources/Data/2013_financial_aid.csv", index_label='UnitID')

In [ ]:
#Sort for 2012
for column in financial_aid_df:    
    unit = financial_aid_df.filter(regex='UnitID')
    institution = financial_aid_df.filter(regex='Institution Name')
    main = financial_aid_df.filter(regex='HD2016')
    financial_aid_2012 = financial_aid_df.filter(regex='SFA1213')

financial_aid_2012 = unit.join(institution).join(main).join(financial_aid_2012)

financial_aid_2012.columns.to_list()

financial_aid_2012.to_csv("Resources/Data/2012_financial_aid.csv", index_label='UnitID')

In [ ]:
#Sort for 2011
for column in financial_aid_df:    
    unit = financial_aid_df.filter(regex='UnitID')
    institution = financial_aid_df.filter(regex='Institution Name')
    main = financial_aid_df.filter(regex='HD2016')
    financial_aid_2011 = financial_aid_df.filter(regex='SFA1112')

financial_aid_2011 = unit.join(institution).join(main).join(financial_aid_2011)

financial_aid_2011.columns.to_list()

financial_aid_2011.to_csv("Resources/Data/2011_financial_aid.csv", index_label='UnitID')

In [ ]:
#Sort for 2010
for column in financial_aid_df:    
    unit = financial_aid_df.filter(regex='UnitID')
    institution = financial_aid_df.filter(regex='Institution Name')
    main = financial_aid_df.filter(regex='HD2016')
    financial_aid_2010 = financial_aid_df.filter(regex='SFA1011')

financial_aid_2010 = unit.join(institution).join(main).join(financial_aid_2010)

financial_aid_2010.columns.to_list()

financial_aid_2010.to_csv("Resources/Data/2010_financial_aid.csv", index_label='UnitID')

In [ ]:
#look at retention rates
retention_rates_df.columns.to_list()

In [ ]:
#Sort for 2016
for column in retention_rates_df:    
    unit = retention_rates_df.filter(regex='UnitID')
    institution = retention_rates_df.filter(regex='Institution Name')
    main = retention_rates_df.filter(regex='HD2016')
    retention_rates_2016 = retention_rates_df.filter(regex='EF2016D')

retention_rates_2016 = unit.join(institution).join(main).join(retention_rates_2016)

retention_rates_2016.columns.to_list()

retention_rates_2016.to_csv("Resources/Data/2016_retention_rates.csv", index_label='UnitID')

In [ ]:
#Sort for 2015
for column in retention_rates_df:    
    unit = retention_rates_df.filter(regex='UnitID')
    institution = retention_rates_df.filter(regex='Institution Name')
    main = retention_rates_df.filter(regex='HD2016')
    retention_rates_2015 = retention_rates_df.filter(regex='EF2015D')

retention_rates_2015 = unit.join(institution).join(main).join(retention_rates_2015)

retention_rates_2015.columns.to_list()

retention_rates_2015.to_csv("Resources/Data/2015_retention_rates.csv", index_label='UnitID')

In [ ]:
#Sort for 2014
for column in retention_rates_df:    
    unit = retention_rates_df.filter(regex='UnitID')
    institution = retention_rates_df.filter(regex='Institution Name')
    main = retention_rates_df.filter(regex='HD2016')
    retention_rates_2014 = retention_rates_df.filter(regex='EF2014D')

retention_rates_2014 = unit.join(institution).join(main).join(retention_rates_2014)

retention_rates_2014.columns.to_list()

retention_rates_2014.to_csv("Resources/Data/2014_retention_rates.csv", index_label='UnitID')

In [ ]:
#Sort for 2013
for column in retention_rates_df:    
    unit = retention_rates_df.filter(regex='UnitID')
    institution = retention_rates_df.filter(regex='Institution Name')
    main = retention_rates_df.filter(regex='HD2016')
    retention_rates_2013 = retention_rates_df.filter(regex='EF2013D')

retention_rates_2013 = unit.join(institution).join(main).join(retention_rates_2013)

retention_rates_2013.columns.to_list()

retention_rates_2013.to_csv("Resources/Data/2013_retention_rates.csv", index_label='UnitID')

In [ ]:
#Sort for 2012
for column in retention_rates_df:    
    unit = retention_rates_df.filter(regex='UnitID')
    institution = retention_rates_df.filter(regex='Institution Name')
    main = retention_rates_df.filter(regex='HD2016')
    retention_rates_2012 = retention_rates_df.filter(regex='EF2012D')

retention_rates_2012 = unit.join(institution).join(main).join(retention_rates_2012)

retention_rates_2012.columns.to_list()

retention_rates_2012.to_csv("Resources/Data/2012_retention_rates.csv", index_label='UnitID')

In [ ]:
#Sort for 2011
for column in retention_rates_df:    
    unit = retention_rates_df.filter(regex='UnitID')
    institution = retention_rates_df.filter(regex='Institution Name')
    main = retention_rates_df.filter(regex='HD2016')
    retention_rates_2011 = retention_rates_df.filter(regex='EF2011D')

retention_rates_2011 = unit.join(institution).join(main).join(retention_rates_2011)

retention_rates_2011.columns.to_list()

retention_rates_2011.to_csv("Resources/Data/2011_retention_rates.csv", index_label='UnitID')

In [ ]:
#Sort for 2010
for column in retention_rates_df:    
    unit = retention_rates_df.filter(regex='UnitID')
    institution = retention_rates_df.filter(regex='Institution Name')
    main = retention_rates_df.filter(regex='HD2016')
    retention_rates_2010 = retention_rates_df.filter(regex='EF2010D')

retention_rates_2010 = unit.join(institution).join(main).join(retention_rates_2010)

retention_rates_2010.columns.to_list()

retention_rates_2010.to_csv("Resources/Data/2010_retention_rates.csv", index_label='UnitID')

In [ ]:
retention_rates_2010.dropna()

In [ ]:
financial_aid_2013.isna().sum()