In [32]:
# Add dependencies
import pandas as pd
import numpy as np
import matplotlib as mpl

In [2]:
# load files
cost_attendance_df = pd.read_csv("Resources/cost-attendance.csv")
financial_aid_df = pd.read_csv("Resources/financial-aid.csv")
grad_rates_df = pd.read_csv("Resources/grad-rates.csv")
institutions_df = pd.read_csv("Resources/institutions.csv")
net_price_df = pd.read_csv("Resources/net-price.csv")
retention_rates_df = pd.read_csv("Resources/retention-rates.csv")

In [3]:
# Inspect Institutions and clean
institutions_df.head()
# institutions_df.columns.to_list()
# len(institutions_df)
# institutions_df.dtypes

,UnitID,Institution Name,Institution name alias (HD2016),Street address or post office box (HD2016),City location of institution (HD2016),State abbreviation (HD2016),ZIP code (HD2016),Institution's internet website address (HD2016),Longitude location of institution (HD2016),Latitude location of institution (HD2016),...,Grand total (EF2016A All students Undergraduate total),American Indian or Alaska Native total (EF2016A All students Undergraduate total),Asian total (EF2016A All students Undergraduate total),Black or African American total (EF2016A All students Undergraduate total),Hispanic total (EF2016A All students Undergraduate total),Native Hawaiian or Other Pacific Islander total (EF2016A All students Undergraduate total),White total (EF2016A All students Undergraduate total),Two or more races total (EF2016A All students Undergraduate total),Race/ethnicity unknown total (EF2016A All students Undergraduate total),Nonresident alien total (EF2016A All students Undergraduate total)
0,180203,Aaniiih Nakoda College,,269 Blackfeet Avenue Agency,Harlem,MT,59526,www.ancollege.edu,-108.757816,48.484196,...,149.0,140.0,0.0,0.0,0.0,0.0,9.0,0.0,0.0,0.0
1,222178,Abilene Christian University,,,Abilene,TX,79699,www.acu.edu,-99.709540,32.469150,...,3758.0,12.0,42.0,338.0,616.0,4.0,2402.0,185.0,10.0,149.0
2,138558,Abraham Baldwin Agricultural College,ABAC,2802 Moore Hwy,Tifton,GA,31793-2601,www.abac.edu,-83.528281,31.481889,...,3475.0,16.0,27.0,316.0,208.0,2.0,2808.0,45.0,0.0,53.0
3,488031,Abraham Lincoln University,,3530 Wilshire Boulevard Suite 1430,Los Angeles,CA,90010,www.alu.edu/,-118.301181,34.060990,...,25.0,0.0,4.0,3.0,4.0,1.0,5.0,1.0,7.0,0.0
4,172866,Academy College,,1600 W. 82nd Street Suite 100,Bloomington,MN,55431-1411,www.academycollege.edu,-93.299809,44.855722,...,116.0,1.0,11.0,14.0,4.0,0.0,73.0,2.0,11.0,0.0

In [4]:
# look at null values per column
institutions_df.isnull().sum()

UnitID                                                                                             0
Institution Name                                                                                   0
Institution name alias (HD2016)                                                                   33
Street address or post office box (HD2016)                                                        33
City location of institution (HD2016)                                                             33
State abbreviation (HD2016)                                                                       33
ZIP code (HD2016)                                                                                 33
Institution's internet website address (HD2016)                                                   33
Longitude location of institution (HD2016)                                                        33
Latitude location of institution (HD2016)                                                         33
Historically Black College or University (HD2016)                                                 33
Bureau of Economic Analysis (BEA) regions (HD2016)                                                33
Tribal college (HD2016)                                                                           33
Sector of institution (HD2016)                                                                    33
Control of institution (HD2016)                                                                   33
Percent admitted - total (DRVADM2016)                                                           2013
Grand total (EF2016  All students  Undergraduate total)                                           33
Total men (EF2016  All students  Undergraduate total)                                             33
Total women (EF2016  All students  Undergraduate total)                                           33
Grand total (EF2016A  All students  Undergraduate total)                                          33
American Indian or Alaska Native total (EF2016A  All students  Undergraduate total)               33
Asian total (EF2016A  All students  Undergraduate total)                                          33
Black or African American total (EF2016A  All students  Undergraduate total)                      33
Hispanic total (EF2016A  All students  Undergraduate total)                                       33
Native Hawaiian or Other Pacific Islander total (EF2016A  All students  Undergraduate total)      33
White total (EF2016A  All students  Undergraduate total)                                          33
Two or more races total (EF2016A  All students  Undergraduate total)                              33
Race/ethnicity unknown total (EF2016A  All students  Undergraduate total)                         33
Nonresident alien total (EF2016A  All students  Undergraduate total)                              33
dtype: int64

In [5]:
columns = ['Institution Name', 'Grand total (EF2016A  All students  Undergraduate total)']
clean_institutions_df = institutions_df.dropna(subset=columns)
clean_institutions_df.head()
len(clean_institutions_df)

3810

In [6]:
clean_institutions_df.isnull().sum()

UnitID                                                                                             0
Institution Name                                                                                   0
Institution name alias (HD2016)                                                                    0
Street address or post office box (HD2016)                                                         0
City location of institution (HD2016)                                                              0
State abbreviation (HD2016)                                                                        0
ZIP code (HD2016)                                                                                  0
Institution's internet website address (HD2016)                                                    0
Longitude location of institution (HD2016)                                                         0
Latitude location of institution (HD2016)                                                          0
Historically Black College or University (HD2016)                                                  0
Bureau of Economic Analysis (BEA) regions (HD2016)                                                 0
Tribal college (HD2016)                                                                            0
Sector of institution (HD2016)                                                                     0
Control of institution (HD2016)                                                                    0
Percent admitted - total (DRVADM2016)                                                           1980
Grand total (EF2016  All students  Undergraduate total)                                            0
Total men (EF2016  All students  Undergraduate total)                                              0
Total women (EF2016  All students  Undergraduate total)                                            0
Grand total (EF2016A  All students  Undergraduate total)                                           0
American Indian or Alaska Native total (EF2016A  All students  Undergraduate total)                0
Asian total (EF2016A  All students  Undergraduate total)                                           0
Black or African American total (EF2016A  All students  Undergraduate total)                       0
Hispanic total (EF2016A  All students  Undergraduate total)                                        0
Native Hawaiian or Other Pacific Islander total (EF2016A  All students  Undergraduate total)       0
White total (EF2016A  All students  Undergraduate total)                                           0
Two or more races total (EF2016A  All students  Undergraduate total)                               0
Race/ethnicity unknown total (EF2016A  All students  Undergraduate total)                          0
Nonresident alien total (EF2016A  All students  Undergraduate total)                               0
dtype: int64

In [7]:
#Look at grad rates
grad_rates_df

,UnitID,Institution Name,Institution name alias (HD2016),Street address or post office box (HD2016),City location of institution (HD2016),State abbreviation (HD2016),Grand total (GR2016 Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total),American Indian or Alaska Native total (GR2016 Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total),Asian total (GR2016 Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total),Black or African American total (GR2016 Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total),...,Grand total (GR2011 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE),American Indian or Alaska Native total (GR2011 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE),Asian total (GR2011 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE),Black or African American total (GR2011 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE),Hispanic total (GR2011 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE),Native Hawaiian or Other Pacific Islander total (GR2011 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE),White total (GR2011 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE),Race/ethnicity unknown total (GR2011 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE),Two or more races total (GR2011 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE),Nonresident alien total (GR2011 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE)
0,180203,Aaniiih Nakoda College,,269 Blackfeet Avenue Agency,Harlem,MT,NaN,NaN,NaN,NaN,...,32.6,26.3,NaN,NaN,NaN,NaN,80.0,NaN,NaN,NaN
1,222178,Abilene Christian University,,,Abilene,TX,608.0,1.0,9.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,138558,Abraham Baldwin Agricultural College,ABAC,2802 Moore Hwy,Tifton,GA,19.0,0.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,488031,Abraham Lincoln University,,3530 Wilshire Boulevard Suite 1430,Los Angeles,CA,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,172866,Academy College,,1600 W. 82nd Street Suite 100,Bloomington,MN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3838,206695,Youngstown State University,,One University Plaza,Youngstown,OH,734.0,3.0,18.0,48.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3839,375939,YTI Career Institute-Altoona,,2900 Fairway Dr,Altoona,PA,NaN,NaN,NaN,NaN,...,72.8,75.0,NaN,42.9,100.0,NaN,73.3,66.7,NaN,NaN
3840,217077,YTI Career Institute-York,YTI,1405 Williams Road,York,PA,NaN,NaN,NaN,NaN,...,79.6,87.5,81.8,61.4,70.9,NaN,82.7,90.9,50.0,NaN
3841,126119,Yuba College,,2088 N Beale Rd,Marysville,CA,NaN,NaN,NaN,NaN,...,19.2,9.1,21.0,8.5,14.8,20.0,21.9,23.1,NaN,0.0
3842,204255,Zane State College,,1555 Newark Rd,Zanesville,OH,NaN,NaN,NaN,NaN,...,29.1,0.0,0.0,27.0,25.0,NaN,30.1,16.7,NaN,NaN

In [8]:
base_columns_df = pd.DataFrame(grad_rates_df[['UnitID',
 'Institution Name',
 'Institution name alias (HD2016)',
 'Street address or post office box (HD2016)',
 'City location of institution (HD2016)',
 'State abbreviation (HD2016)']].dropna())
base_columns_df

,UnitID,Institution Name,Institution name alias (HD2016),Street address or post office box (HD2016),City location of institution (HD2016),State abbreviation (HD2016)
0,180203,Aaniiih Nakoda College,,269 Blackfeet Avenue Agency,Harlem,MT
1,222178,Abilene Christian University,,,Abilene,TX
2,138558,Abraham Baldwin Agricultural College,ABAC,2802 Moore Hwy,Tifton,GA
3,488031,Abraham Lincoln University,,3530 Wilshire Boulevard Suite 1430,Los Angeles,CA
4,172866,Academy College,,1600 W. 82nd Street Suite 100,Bloomington,MN
...,...,...,...,...,...,...
3838,206695,Youngstown State University,,One University Plaza,Youngstown,OH
3839,375939,YTI Career Institute-Altoona,,2900 Fairway Dr,Altoona,PA
3840,217077,YTI Career Institute-York,YTI,1405 Williams Road,York,PA
3841,126119,Yuba College,,2088 N Beale Rd,Marysville,CA
3842,204255,Zane State College,,1555 Newark Rd,Zanesville,OH

In [9]:
base_grad_rates_2016_df = pd.DataFrame(grad_rates_df.filter(regex='GR2016'))
# grad_rates_2016.loc[[title_2016]]
base_grad_rates_2016_df

,Grand total (GR2016 Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total),American Indian or Alaska Native total (GR2016 Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total),Asian total (GR2016 Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total),Black or African American total (GR2016 Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total),Hispanic total (GR2016 Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total),Native Hawaiian or Other Pacific Islander total (GR2016 Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total),White total (GR2016 Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total),Race/ethnicity unknown total (GR2016 Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total),Two or more races total (GR2016 Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total),Nonresident alien total (GR2016 Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total),...,Grand total (GR2016 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE),American Indian or Alaska Native total (GR2016 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE),Asian total (GR2016 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE),Black or African American total (GR2016 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE),Hispanic total (GR2016 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE),Native Hawaiian or Other Pacific Islander total (GR2016 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE),White total (GR2016 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE),Race/ethnicity unknown total (GR2016 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE),Two or more races total (GR2016 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE),Nonresident alien total (GR2016 Degree/certif-seeking students ( 2-yr institution) CALCULATED GRADUATION RATE)
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,32.0,28.6,NaN,NaN,100.0,NaN,33.3,NaN,NaN,NaN
1,608.0,1.0,9.0,20.0,38.0,0.0,516.0,0.0,17.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,19.0,0.0,1.0,1.0,0.0,0.0,17.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3838,734.0,3.0,18.0,48.0,12.0,0.0,629.0,18.0,1.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3839,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,61.8,100.0,NaN,33.3,0.0,NaN,62.3,NaN,100.0,NaN
3840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,65.8,75.0,57.1,42.1,58.1,100.0,69.8,0.0,75.7,NaN
3841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,25.0,33.3,49.4,11.1,20.7,0.0,23.5,27.5,15.4,0.0
3842,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,28.3,NaN,0.0,37.5,0.0,NaN,28.5,50.0,11.1,NaN

In [10]:
for column in grad_rates_df:
    print(column)

UnitID
Institution Name
Institution name alias (HD2016)
Street address or post office box (HD2016)
City location of institution (HD2016)
State abbreviation (HD2016)
Grand total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
American Indian or Alaska Native total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Asian total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Black or African American total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Hispanic total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Native Hawaiian or Other Pacific Islander total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
White total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Race/ethnicity unknown total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Two or more races total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Nonresident alien total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Grand total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
American Indian or Alaska Native total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Asian total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Black or African American total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Hispanic total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Native Hawaiian or Other Pacific Islander total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
White total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Race/ethnicity unknown total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Two or more races total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Nonresident alien total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Grand total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
American Indian or Alaska Native total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Asian total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Black or African American total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Hispanic total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Native Hawaiian or Other Pacific Islander total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
White total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Race/ethnicity unknown total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Two or more races total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Nonresident alien total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Grand total (GR2015  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
American Indian or Alaska Native total (GR2015  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Asian total (GR2015  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Black or African American total (GR2015  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Hispanic total (GR2015  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Native Hawaiian or Other Pacific Islander total (GR2015  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
White total (GR2015  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Race/ethnicity unknown total (GR2015  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Two or more races total (GR2015  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Nonresident alien total (GR2015  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Grand total (GR2015  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
American Indian or Alaska Native total (GR2015  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Asian total (GR2015  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Black or African American total (GR2015  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Hispanic total (GR2015  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Native Hawaiian or Other Pacific Islander total (GR2015  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
White total (GR2015  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Race/ethnicity unknown total (GR2015  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Two or more races total (GR2015  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Nonresident alien total (GR2015  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Grand total (GR2015  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
American Indian or Alaska Native total (GR2015  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Asian total (GR2015  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Black or African American total (GR2015  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Hispanic total (GR2015  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Native Hawaiian or Other Pacific Islander total (GR2015  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
White total (GR2015  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Race/ethnicity unknown total (GR2015  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Two or more races total (GR2015  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Nonresident alien total (GR2015  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Grand total (GR2014  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
American Indian or Alaska Native total (GR2014  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Asian total (GR2014  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Black or African American total (GR2014  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Hispanic total (GR2014  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Native Hawaiian or Other Pacific Islander total (GR2014  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
White total (GR2014  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Race/ethnicity unknown total (GR2014  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Two or more races total (GR2014  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Nonresident alien total (GR2014  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Grand total (GR2014  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
American Indian or Alaska Native total (GR2014  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Asian total (GR2014  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Black or African American total (GR2014  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Hispanic total (GR2014  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Native Hawaiian or Other Pacific Islander total (GR2014  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
White total (GR2014  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Race/ethnicity unknown total (GR2014  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Two or more races total (GR2014  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Nonresident alien total (GR2014  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Grand total (GR2014  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
American Indian or Alaska Native total (GR2014  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Asian total (GR2014  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Black or African American total (GR2014  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Hispanic total (GR2014  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Native Hawaiian or Other Pacific Islander total (GR2014  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
White total (GR2014  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Race/ethnicity unknown total (GR2014  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Two or more races total (GR2014  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Nonresident alien total (GR2014  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Grand total (GR2013  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
American Indian or Alaska Native total (GR2013  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Asian total (GR2013  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Black or African American total (GR2013  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Hispanic total (GR2013  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Native Hawaiian or Other Pacific Islander total (GR2013  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
White total (GR2013  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Race/ethnicity unknown total (GR2013  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Two or more races total (GR2013  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Nonresident alien total (GR2013  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Grand total (GR2013  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
American Indian or Alaska Native total (GR2013  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Asian total (GR2013  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Black or African American total (GR2013  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Hispanic total (GR2013  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Native Hawaiian or Other Pacific Islander total (GR2013  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
White total (GR2013  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Race/ethnicity unknown total (GR2013  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Two or more races total (GR2013  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Nonresident alien total (GR2013  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Grand total (GR2013  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
American Indian or Alaska Native total (GR2013  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Asian total (GR2013  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Black or African American total (GR2013  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Hispanic total (GR2013  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Native Hawaiian or Other Pacific Islander total (GR2013  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
White total (GR2013  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Race/ethnicity unknown total (GR2013  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Two or more races total (GR2013  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Nonresident alien total (GR2013  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Grand total (GR2012  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
American Indian or Alaska Native total (GR2012  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Asian total (GR2012  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Black or African American total (GR2012  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Hispanic total (GR2012  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Native Hawaiian or Other Pacific Islander total (GR2012  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
White total (GR2012  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Race/ethnicity unknown total (GR2012  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Two or more races total (GR2012  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Nonresident alien total (GR2012  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Grand total (GR2012  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
American Indian or Alaska Native total (GR2012  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Asian total (GR2012  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Black or African American total (GR2012  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Hispanic total (GR2012  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Native Hawaiian or Other Pacific Islander total (GR2012  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
White total (GR2012  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Race/ethnicity unknown total (GR2012  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Two or more races total (GR2012  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Nonresident alien total (GR2012  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))
Grand total (GR2012  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
American Indian or Alaska Native total (GR2012  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Asian total (GR2012  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Black or African American total (GR2012  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Hispanic total (GR2012  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Native Hawaiian or Other Pacific Islander total (GR2012  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
White total (GR2012  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Race/ethnicity unknown total (GR2012  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Two or more races total (GR2012  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Nonresident alien total (GR2012  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
Grand total (GR2011  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
American Indian or Alaska Native total (GR2011  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Asian total (GR2011  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Black or African American total (GR2011  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Hispanic total (GR2011  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Native Hawaiian or Other Pacific Islander total (GR2011  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
White total (GR2011  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Race/ethnicity unknown total (GR2011  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)
Two or more races total (GR2011  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)

In [11]:
def filter_rates(cur_df, year_input, length_input): 
    final_df = {}
    for columns in cur_df:
        unit = cur_df.filter(regex='UnitID')
        institution = cur_df.filter(regex='Institution Name')
        main = cur_df.filter(regex='HD2016')
        rates = cur_df.filter(regex=year_input)
        for column in rates:
            year = cur_df.filter(regex=year_input)
            for column in year:
                length = year.filter(regex=length_input)
                final_df = unit.join(institution).join(main).join(length)
            return final_df
        return final_df
    return final_df

In [12]:
fin_rates_2016 = filter_rates(grad_rates_df, '2016', '4-yr')
fin_rates_2016

,UnitID,Institution Name,Institution name alias (HD2016),Street address or post office box (HD2016),City location of institution (HD2016),State abbreviation (HD2016),Grand total (GR2016 Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total),American Indian or Alaska Native total (GR2016 Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total),Asian total (GR2016 Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total),Black or African American total (GR2016 Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total),...,Grand total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),American Indian or Alaska Native total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Asian total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Black or African American total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Hispanic total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Native Hawaiian or Other Pacific Islander total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),White total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Race/ethnicity unknown total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Two or more races total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Nonresident alien total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
0,180203,Aaniiih Nakoda College,,269 Blackfeet Avenue Agency,Harlem,MT,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,222178,Abilene Christian University,,,Abilene,TX,608.0,1.0,9.0,20.0,...,62.5,33.3,75.0,33.3,48.7,0.0,66.0,NaN,65.4,63.6
2,138558,Abraham Baldwin Agricultural College,ABAC,2802 Moore Hwy,Tifton,GA,19.0,0.0,1.0,1.0,...,31.7,NaN,100.0,20.0,NaN,NaN,32.1,NaN,0.0,NaN
3,488031,Abraham Lincoln University,,3530 Wilshire Boulevard Suite 1430,Los Angeles,CA,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,172866,Academy College,,1600 W. 82nd Street Suite 100,Bloomington,MN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3838,206695,Youngstown State University,,One University Plaza,Youngstown,OH,734.0,3.0,18.0,48.0,...,31.5,23.1,58.1,9.4,15.6,NaN,38.9,25.4,20.0,71.4
3839,375939,YTI Career Institute-Altoona,,2900 Fairway Dr,Altoona,PA,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3840,217077,YTI Career Institute-York,YTI,1405 Williams Road,York,PA,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3841,126119,Yuba College,,2088 N Beale Rd,Marysville,CA,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3842,204255,Zane State College,,1555 Newark Rd,Zanesville,OH,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
fin_rates_2016.count()

UnitID                                                                                                                                                          3843
Institution Name                                                                                                                                                3843
Institution name alias (HD2016)                                                                                                                                 3810
Street address or post office box (HD2016)                                                                                                                      3810
City location of institution (HD2016)                                                                                                                           3810
State abbreviation (HD2016)                                                                                                                                     3810
Grand total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)                                              1945
American Indian or Alaska Native total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)                   1945
Asian total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)                                              1945
Black or African American total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)                          1945
Hispanic total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)                                           1945
Native Hawaiian or Other Pacific Islander total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)          1945
White total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)                                              1945
Race/ethnicity unknown total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)                             1945
Two or more races total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)                                  1945
Nonresident alien total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)                                  1945
Grand total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))                                        2005
American Indian or Alaska Native total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))             2005
Asian total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))                                        2005
Black or African American total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))                    2005
Hispanic total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))                                     2005
Native Hawaiian or Other Pacific Islander total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))    2005
White total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))                                        2005
Race/ethnicity unknown total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))                       2005
Two or more races total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))                            2005
Nonresident alien total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))                            2005
Grand total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)                                                               2005
American Indian or Alaska Native total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)                                    1207
Asian total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)                                                               1507
Black or African American total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)                                           1799
Hispanic total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)                                                            1754
Native Hawaiian or Other Pacific Islander total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)                            714
White total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)                                                               1929
Race/ethnicity unknown total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)                                              1474
Two or more races total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)                                                   1374
Nonresident alien total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)                                                   1397
dtype: int64

In [14]:
fin_rates_2016.dropna(axis=0, thresh=6, inplace=True)
fin_rates_2016.count()

UnitID                                                                                                                                                          3810
Institution Name                                                                                                                                                3810
Institution name alias (HD2016)                                                                                                                                 3810
Street address or post office box (HD2016)                                                                                                                      3810
City location of institution (HD2016)                                                                                                                           3810
State abbreviation (HD2016)                                                                                                                                     3810
Grand total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)                                              1945
American Indian or Alaska Native total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)                   1945
Asian total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)                                              1945
Black or African American total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)                          1945
Hispanic total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)                                           1945
Native Hawaiian or Other Pacific Islander total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)          1945
White total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)                                              1945
Race/ethnicity unknown total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)                             1945
Two or more races total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)                                  1945
Nonresident alien total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total)                                  1945
Grand total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))                                        2005
American Indian or Alaska Native total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))             2005
Asian total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))                                        2005
Black or African American total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))                    2005
Hispanic total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))                                     2005
Native Hawaiian or Other Pacific Islander total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))    2005
White total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))                                        2005
Race/ethnicity unknown total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))                       2005
Two or more races total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))                            2005
Nonresident alien total (GR2016  Bachelor's or equiv subcohort (4-yr institution) Adjusted cohort (revised cohort minus exclusions))                            2005
Grand total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)                                                               2005
American Indian or Alaska Native total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)                                    1207
Asian total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)                                                               1507
Black or African American total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)                                           1799
Hispanic total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)                                                            1754
Native Hawaiian or Other Pacific Islander total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)                            714
White total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)                                                               1929
Race/ethnicity unknown total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)                                              1474
Two or more races total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)                                                   1374
Nonresident alien total (GR2016  Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)                                                   1397
dtype: int64

In [15]:
fin_rates_2016

,UnitID,Institution Name,Institution name alias (HD2016),Street address or post office box (HD2016),City location of institution (HD2016),State abbreviation (HD2016),Grand total (GR2016 Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total),American Indian or Alaska Native total (GR2016 Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total),Asian total (GR2016 Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total),Black or African American total (GR2016 Bachelor's or equiv subcohort (4-yr institution) Completers within 150% of normal time total),...,Grand total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),American Indian or Alaska Native total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Asian total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Black or African American total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Hispanic total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Native Hawaiian or Other Pacific Islander total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),White total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Race/ethnicity unknown total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Two or more races total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Nonresident alien total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
0,180203,Aaniiih Nakoda College,,269 Blackfeet Avenue Agency,Harlem,MT,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,222178,Abilene Christian University,,,Abilene,TX,608.0,1.0,9.0,20.0,...,62.5,33.3,75.0,33.3,48.7,0.0,66.0,NaN,65.4,63.6
2,138558,Abraham Baldwin Agricultural College,ABAC,2802 Moore Hwy,Tifton,GA,19.0,0.0,1.0,1.0,...,31.7,NaN,100.0,20.0,NaN,NaN,32.1,NaN,0.0,NaN
3,488031,Abraham Lincoln University,,3530 Wilshire Boulevard Suite 1430,Los Angeles,CA,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,172866,Academy College,,1600 W. 82nd Street Suite 100,Bloomington,MN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3838,206695,Youngstown State University,,One University Plaza,Youngstown,OH,734.0,3.0,18.0,48.0,...,31.5,23.1,58.1,9.4,15.6,NaN,38.9,25.4,20.0,71.4
3839,375939,YTI Career Institute-Altoona,,2900 Fairway Dr,Altoona,PA,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3840,217077,YTI Career Institute-York,YTI,1405 Williams Road,York,PA,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3841,126119,Yuba College,,2088 N Beale Rd,Marysville,CA,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3842,204255,Zane State College,,1555 Newark Rd,Zanesville,OH,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
# rates function
def filt_rates(cur_df, year_input, length_input): 
    final_df = {}
    df = {}
    for columns in cur_df:
        unit = cur_df.filter(regex='UnitID')
        institution = cur_df.filter(regex='Institution Name')
        main = cur_df.filter(regex='HD2016')
        rates = cur_df.filter(regex=year_input)
        for column in rates:
            year = cur_df.filter(regex=year_input)
            for column in year:
                length = year.filter(regex=length_input)
                df = unit.join(institution).join(main).join(length)
            return df
        return df
        for row in df:
            rows_to_keep = [row for rows in df.rows if df[row].isna().sum() >= 9]
            final_df = df[rows_to_keep] #.dropna(axis=0, thresh=6, inplace=True)
        return final_df
    return final_df

In [45]:
# rates function
def filt_rates(cur_df, year_input, length_input): 
    final_df = {}
    df = {}
    for columns in cur_df:
        unit = cur_df.filter(regex='UnitID')
        institution = cur_df.filter(regex='Institution Name')
        main = cur_df.filter(regex='HD2016')
        rates = cur_df.filter(regex=year_input)
        for column in rates:
            year = cur_df.filter(regex=year_input)
            for column in year:
                length = year.filter(regex=length_input)
                for column in length:
                    calc = length.filter(regex='CALCULATED')
                    df = unit.join(institution).join(main).join(calc)
                return df
        return df
        for row in df:
            rows_to_keep = [row for rows in df.rows if df[row].isna().sum() >= 9]
            final_df = df[rows_to_keep] #.dropna(axis=0, thresh=6, inplace=True)
        return final_df
    return final_df

In [46]:
#2016 rates
final_rates = filt_rates(grad_rates_df, '2016', '4-yr')
final_rates.dropna(axis=0, thresh=6, inplace=True)

columns = final_rates.columns.to_list()[6:]

final_rates_2016 = final_rates.dropna(subset=columns, thresh=1).reset_index(drop=True)

# final_rates_2016.to_csv("Resources/Data/2016_rates.csv", index_label='UnitID')

In [47]:
final_rates_2016

,UnitID,Institution Name,Institution name alias (HD2016),Street address or post office box (HD2016),City location of institution (HD2016),State abbreviation (HD2016),Grand total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),American Indian or Alaska Native total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Asian total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Black or African American total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Hispanic total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Native Hawaiian or Other Pacific Islander total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),White total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Race/ethnicity unknown total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Two or more races total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Nonresident alien total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
0,222178,Abilene Christian University,,,Abilene,TX,62.5,33.3,75.0,33.3,48.7,0.0,66.0,NaN,65.4,63.6
1,138558,Abraham Baldwin Agricultural College,ABAC,2802 Moore Hwy,Tifton,GA,31.7,NaN,100.0,20.0,NaN,NaN,32.1,NaN,0.0,NaN
2,108232,Academy of Art University,,79 New Montgomery,San Francisco,CA,37.2,0.0,55.6,14.9,25.0,NaN,32.6,36.5,NaN,50.3
3,126182,Adams State University,,208 Edgemont Blvd,Alamosa,CO,28.8,20.0,33.3,16.0,25.5,33.3,32.8,31.6,16.7,NaN
4,188429,Adelphi University,,South Ave,Garden City,NY,68.2,50.0,80.6,56.1,61.9,100.0,70.7,69.1,50.0,60.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2000,197744,Yeshivath Zichron Moshe,,Laurel Park Road,South Fallsburg,NY,6.3,NaN,NaN,NaN,NaN,NaN,7.1,NaN,NaN,0.0
2001,181853,York College,,1125 E 8th St,York,NE,68.2,0.0,50.0,33.3,85.7,NaN,75.9,57.1,NaN,0.0
2002,217059,York College of Pennsylvania,YCP,441 Country Club Rd,York,PA,60.5,0.0,40.0,41.8,39.0,75.0,63.8,42.9,37.5,66.7
2003,141361,Young Harris College,YHC |Young Harris,1 College Street,Young Harris,GA,46.8,NaN,0.0,57.1,75.0,NaN,45.6,50.0,NaN,33.3
2004,206695,Youngstown State University,,One University Plaza,Youngstown,OH,31.5,23.1,58.1,9.4,15.6,NaN,38.9,25.4,20.0,71.4

In [53]:
final_rates_2016.describe()

,UnitID,Grand total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),American Indian or Alaska Native total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Asian total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Black or African American total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Hispanic total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Native Hawaiian or Other Pacific Islander total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),White total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Race/ethnicity unknown total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Two or more races total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE),Nonresident alien total (GR2016 Bachelor's or equiv subcohort (4-yr institution) CALCULATED GRADUATION RATE)
count,2005.000000,2005.000000,1207.000000,1507.000000,1799.000000,1754.000000,714.000000,1929.000000,1474.000000,1374.000000,1397.000000
mean,214181.985536,49.991122,44.131980,56.436231,40.323680,47.433238,50.881092,53.386936,47.772592,50.026710,58.617180
std,96271.761863,22.409115,36.992931,29.878674,25.760382,25.467904,40.894037,23.266519,29.345737,29.743323,29.412692
min,100654.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,155317.000000,34.900000,0.000000,38.750000,21.500000,30.625000,0.000000,39.600000,26.025000,30.800000,41.200000
50%,194161.000000,50.200000,42.100000,59.600000,37.500000,47.850000,50.000000,54.800000,50.000000,50.000000,61.900000
75%,221847.000000,65.500000,75.000000,78.650000,56.000000,64.675000,100.000000,69.200000,67.850000,71.350000,81.300000
max,489937.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000

In [70]:
avg_2016 = []

for column in final_rates_2016:
    avg = final_rates_2016.mean()
    for column in avg:
        calc = avg.filter(regex='CALCULATED')
# return 
avg_2016 = pd.DataFrame(calc)
avg_2016

C:\Users\mthal\AppData\Local\Temp/ipykernel_30500/2792337016.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  avg = final_rates_2016.mean()

                                                            0
Grand total (GR2016  Bachelor's or equiv subcoh...  49.991122
American Indian or Alaska Native total (GR2016 ...  44.131980
Asian total (GR2016  Bachelor's or equiv subcoh...  56.436231
Black or African American total (GR2016  Bachel...  40.323680
Hispanic total (GR2016  Bachelor's or equiv sub...  47.433238
Native Hawaiian or Other Pacific Islander total...  50.881092
White total (GR2016  Bachelor's or equiv subcoh...  53.386936
Race/ethnicity unknown total (GR2016  Bachelor'...  47.772592
Two or more races total (GR2016  Bachelor's or ...  50.026710
Nonresident alien total (GR2016  Bachelor's or ...  58.617180

In [84]:
#2016 rates
final_rates = filt_rates(grad_rates_df, '2016', '4-yr')
final_rates.dropna(axis=0, thresh=6, inplace=True)

columns = final_rates.columns.to_list()[6:]

final_rates_2016 = final_rates.dropna(subset=columns, thresh=1).reset_index(drop=True)

avg_2016 = []

for column in final_rates_2016:
    avg = final_rates_2016.mean()
    for column in avg:
        calc = avg.filter(regex='CALCULATED')

avg_2016 = pd.DataFrame(calc)
avg_2016

C:\Users\mthal\AppData\Local\Temp/ipykernel_30500/2485451391.py:12: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  avg = final_rates_2016.mean()

                                                            0
Grand total (GR2016  Bachelor's or equiv subcoh...  49.991122
American Indian or Alaska Native total (GR2016 ...  44.131980
Asian total (GR2016  Bachelor's or equiv subcoh...  56.436231
Black or African American total (GR2016  Bachel...  40.323680
Hispanic total (GR2016  Bachelor's or equiv sub...  47.433238
Native Hawaiian or Other Pacific Islander total...  50.881092
White total (GR2016  Bachelor's or equiv subcoh...  53.386936
Race/ethnicity unknown total (GR2016  Bachelor'...  47.772592
Two or more races total (GR2016  Bachelor's or ...  50.026710
Nonresident alien total (GR2016  Bachelor's or ...  58.617180

In [ ]:
final_rates_2016.groupby

In [26]:
#2015 rates
final_rates = filt_rates(grad_rates_df, '2015', '4-yr')
final_rates.dropna(axis=0, thresh=6, inplace=True)

columns = final_rates.columns.to_list()[6:]

final_rates_2015 = final_rates.dropna(subset=columns, thresh=1).reset_index(drop=True)

final_rates_2015.to_csv("Resources/Data/2015_rates.csv", index_label='UnitID')

In [27]:
#2014 rates
final_rates = filt_rates(grad_rates_df, '2014', '4-yr')
final_rates.dropna(axis=0, thresh=6, inplace=True)

columns = final_rates.columns.to_list()[6:]

final_rates_2014 = final_rates.dropna(subset=columns, thresh=1).reset_index(drop=True)

final_rates_2014.to_csv("Resources/Data/2014_rates.csv", index_label='UnitID')

In [29]:
#2013 rates
final_rates = filt_rates(grad_rates_df, '2013', '4-yr')
final_rates.dropna(axis=0, thresh=6, inplace=True)

columns = final_rates.columns.to_list()[6:]

final_rates_2013= final_rates.dropna(subset=columns, thresh=1).reset_index(drop=True)

final_rates_2013.to_csv("Resources/Data/2013_rates.csv", index_label='UnitID')

In [30]:
#2012 rates
final_rates = filt_rates(grad_rates_df, '2012', '4-yr')
final_rates.dropna(axis=0, thresh=6, inplace=True)

columns = final_rates.columns.to_list()[6:]

final_rates_2012 = final_rates.dropna(subset=columns, thresh=1).reset_index(drop=True)

final_rates_2012.to_csv("Resources/Data/2012_rates.csv", index_label='UnitID')

In [31]:
#2011 rates
final_rates = filt_rates(grad_rates_df, '2011', '4-yr')
final_rates.dropna(axis=0, thresh=6, inplace=True)

columns = final_rates.columns.to_list()[6:]

final_rates_2011 = final_rates.dropna(subset=columns, thresh=1).reset_index(drop=True)

final_rates_2011.to_csv("Resources/Data/2011_rates.csv", index_label='UnitID')

In [25]:
#look at cost_attendance
cost_attendance_df.columns.to_list()

['UnitID',
 'Institution Name',
 'Institution name alias (HD2016)',
 'Street address or post office box (HD2016)',
 'City location of institution (HD2016)',
 'State abbreviation (HD2016)',
 'Published in-state tuition and fees 2017-18 (IC2017_AY)',
 'Total price for in-state students living on campus 2017-18 (DRVIC2017)',
 'Total price for out-of-state students living on campus 2017-18 (DRVIC2017)',
 'Total price for in-state students living off campus (not with family)  2017-18 (DRVIC2017)',
 'Total price for out-of-state students living off campus (not with family)  2017-18 (DRVIC2017)',
 'Total price for in-state students living off campus (with family)  2017-18 (DRVIC2017)',
 'Total price for out-of-state students living off campus (with family)  2017-18 (DRVIC2017)',
 'Published in-state tuition and fees 2016-17 (IC2016_AY)',
 'Total price for in-state students living on campus 2016-17 (DRVIC2016)',
 'Total price for out-of-state students living on campus 2016-17 (DRVIC2016)',
 'Total price for in-state students living off campus (not with family)  2016-17 (DRVIC2016)',
 'Total price for out-of-state students living off campus (not with family)  2016-17 (DRVIC2016)',
 'Total price for in-state students living off campus (with family)  2016-17 (DRVIC2016)',
 'Total price for out-of-state students living off campus (with family)  2016-17 (DRVIC2016)',
 'Published in-state tuition and fees 2015-16 (IC2015_AY)',
 'Total price for in-state students living on campus 2015-16 (DRVIC2015)',
 'Total price for out-of-state students living on campus 2015-16 (DRVIC2015)',
 'Total price for in-state students living off campus (not with family)  2015-16 (DRVIC2015)',
 'Total price for out-of-state students living off campus (not with family)  2015-16 (DRVIC2015)',
 'Total price for in-state students living off campus (with family)  2015-16 (DRVIC2015)',
 'Total price for out-of-state students living off campus (with family)  2015-16 (DRVIC2015)',
 'Published in-state tuition and fees 2014-15 (IC2014_AY)',
 'Total price for in-state students living on campus 2014-15 (DRVIC2014)',
 'Total price for out-of-state students living on campus 2014-15 (DRVIC2014)',
 'Total price for in-state students living off campus (not with family)  2014-15 (DRVIC2014)',
 'Total price for out-of-state students living off campus (not with family)  2014-15 (DRVIC2014)',
 'Total price for in-state students living off campus (with family)  2014-15 (DRVIC2014)',
 'Total price for out-of-state students living off campus (with family)  2014-15 (DRVIC2014)',
 'Published in-state tuition and fees 2013-14 (IC2013_AY)',
 'Total price for in-state students living on campus 2013-14 (DRVIC2013)',
 'Total price for out-of-state students living on campus 2013-14 (DRVIC2013)',
 'Total price for in-state students living off campus (not with family)  2013-14 (DRVIC2013)',
 'Total price for out-of-state students living off campus (not with family)  2013-14 (DRVIC2013)',
 'Total price for in-state students living off campus (with family)  2013-14 (DRVIC2013)',
 'Total price for out-of-state students living off campus (with family)  2013-14 (DRVIC2013)',
 'Published in-state tuition and fees 2012-13 (IC2012_AY)',
 'Total price for in-state students living on campus 2012-13 (DRVIC2012)',
 'Total price for out-of-state students living on campus 2012-13 (DRVIC2012)',
 'Total price for in-state students living off campus (not with family)  2012-13 (DRVIC2012)',
 'Total price for out-of-state students living off campus (not with family)  2012-13 (DRVIC2012)',
 'Total price for in-state students living off campus (with family)  2012-13 (DRVIC2012)',
 'Total price for out-of-state students living off campus (with family)  2012-13 (DRVIC2012)',
 'Published in-state tuition and fees 2011-12 (IC2011_AY)',
 'Total price for in-state students living on campus 2011-12 (DRVIC2011)',
 'Total price for out-of-state students living on campus 2011-12 (DRVIC2011)',
 'Total price for in-state students living off campus (not with family)  2011-12 (DRVIC2011)',
 'Total price for out-of-state students living off campus (not with family)  2011-12 (DRVIC2011)',
 'Total price for in-state students living off campus (with family)  2011-12 (DRVIC2011)',
 'Total price for out-of-state students living off campus (with family)  2011-12 (DRVIC2011)',
 'Published in-state tuition and fees 2010-11 (IC2010_AY)',
 'Total price for in-state students living on campus 2010-11 (DRVIC2010)',
 'Total price for out-of-state students living on campus 2010-11 (DRVIC2010)',
 'Total price for in-state students living off campus (not with family)  2010-11 (DRVIC2010)',
 'Total price for out-of-state students living off campus (not with family)  2010-11 (DRVIC2010)',
 'Total price for in-state students living off campus (with family)  2010-11 (DRVIC2010)',
 'Total price for out-of-state students living off campus (with family)  2010-11 (DRVIC2010)',
 'Published in-state tuition and fees 2009-10 (IC2009_AY)',
 'Total price for in-state students living on campus 2009-10 (DRVIC2009)',
 'Total price for out-of-state students living on campus 2009-10 (DRVIC2009)',
 'Total price for in-state students living off campus (not with family)  2009-10 (DRVIC2009)',
 'Total price for out-of-state students living off campus (not with family)  2009-10 (DRVIC2009)',
 'Total price for in-state students living off campus (with family)  2009-10 (DRVIC2009)',
 'Total price for out-of-state students living off campus (with family)  2009-10 (DRVIC2009)',
 'Total price for in-state students living on campus 2008-09 (DRVIC2008)',
 'Total price for out-of-state students living on campus 2008-09 (DRVIC2008)',
 'Total price for in-state students living off campus (not with family)  2008-09 (DRVIC2008)',
 'Total price for out-of-state students living off campus (not with family)  2008-09 (DRVIC2008)',
 'Total price for in-state students living off campus (with family)  2008-09 (DRVIC2008)',
 'Total price for out-of-state students living off campus (with family)  2008-09 (DRVIC2008)']

In [26]:
#Sort for 2017
for column in cost_attendance_df:    
    unit = cost_attendance_df.filter(regex='UnitID')
    institution = cost_attendance_df.filter(regex='Institution Name')
    main = cost_attendance_df.filter(regex='HD2016')
    cost_2017 = cost_attendance_df.filter(regex='2017-18')

final_cost_2017 = unit.join(institution).join(main).join(cost_2017)

final_cost_2017.columns.to_list()

final_cost_2017.to_csv("Resources/Data/2017_cost.csv", index_label='UnitID')

In [73]:
#Sort for 2016
for column in cost_attendance_df:    
    unit = cost_attendance_df.filter(regex='UnitID')
    institution = cost_attendance_df.filter(regex='Institution Name')
    main = cost_attendance_df.filter(regex='HD2016')
    cost_2016 = cost_attendance_df.filter(regex='2016-17')

final_cost_2016 = unit.join(institution).join(main).join(cost_2016)

final_cost_2016.columns.to_list()

# final_cost_2016.to_csv("Resources/Data/2016_cost.csv", index_label='UnitID')

['UnitID',
 'Institution Name',
 'Institution name alias (HD2016)',
 'Street address or post office box (HD2016)',
 'City location of institution (HD2016)',
 'State abbreviation (HD2016)',
 'Published in-state tuition and fees 2016-17 (IC2016_AY)',
 'Total price for in-state students living on campus 2016-17 (DRVIC2016)',
 'Total price for out-of-state students living on campus 2016-17 (DRVIC2016)',
 'Total price for in-state students living off campus (not with family)  2016-17 (DRVIC2016)',
 'Total price for out-of-state students living off campus (not with family)  2016-17 (DRVIC2016)',
 'Total price for in-state students living off campus (with family)  2016-17 (DRVIC2016)',
 'Total price for out-of-state students living off campus (with family)  2016-17 (DRVIC2016)']

In [92]:
df = final_cost_2016.iloc[:, 6:13]
df.dropna(thresh=1).reset_index(drop=True)

for column in df:
    avg = df.mean()
# .plot(kind='bar')
avg_2016 = pd.DataFrame(avg)
avg_2016.round(2)

                                                           0
Published in-state tuition and fees 2016-17 (IC...  15427.07
Total price for in-state students living on cam...  34133.02
Total price for out-of-state students living on...  37552.23
Total price for in-state students living off ca...  29168.69
Total price for out-of-state students living of...  32188.74
Total price for in-state students living off ca...  20234.78
Total price for out-of-state students living of...  23252.33

In [99]:
df

,UnitID,Institution Name,Institution name alias (HD2016),Street address or post office box (HD2016),City location of institution (HD2016),State abbreviation (HD2016),Published in-state tuition and fees 2016-17 (IC2016_AY),Total price for in-state students living on campus 2016-17 (DRVIC2016),Total price for out-of-state students living on campus 2016-17 (DRVIC2016),Total price for in-state students living off campus (not with family) 2016-17 (DRVIC2016),Total price for out-of-state students living off campus (not with family) 2016-17 (DRVIC2016),Total price for in-state students living off campus (with family) 2016-17 (DRVIC2016),Total price for out-of-state students living off campus (with family) 2016-17 (DRVIC2016)
0,180203,Aaniiih Nakoda College,,269 Blackfeet Avenue Agency,Harlem,MT,2410.0,NaN,NaN,17030.0,17030.0,8510.0,8510.0
1,222178,Abilene Christian University,,,Abilene,TX,32070.0,45980.0,45980.0,45980.0,45980.0,36670.0,36670.0
2,138558,Abraham Baldwin Agricultural College,ABAC,2802 Moore Hwy,Tifton,GA,3453.0,15025.0,21632.0,14053.0,20660.0,7653.0,14260.0
3,488031,Abraham Lincoln University,,3530 Wilshire Boulevard Suite 1430,Los Angeles,CA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,172866,Academy College,,1600 W. 82nd Street Suite 100,Bloomington,MN,17409.0,NaN,NaN,36650.0,36650.0,28111.0,28111.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3838,206695,Youngstown State University,,One University Plaza,Youngstown,OH,8317.0,22042.0,22282.0,22042.0,22282.0,13484.0,13724.0
3839,375939,YTI Career Institute-Altoona,,2900 Fairway Dr,Altoona,PA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3840,217077,YTI Career Institute-York,YTI,1405 Williams Road,York,PA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3841,126119,Yuba College,,2088 N Beale Rd,Marysville,CA,1144.0,NaN,NaN,19585.0,24745.0,7219.0,12379.0
3842,204255,Zane State College,,1555 Newark Rd,Zanesville,OH,4646.0,NaN,NaN,16190.0,20750.0,11002.0,15562.0

In [110]:
df.dropna(thresh=1).reset_index(drop=True)
cost_by_state_2016 = df.iloc[:, 5:].groupby(by=['State abbreviation (HD2016)']).mean().round(2)
cost_by_state_2016

,Published in-state tuition and fees 2016-17 (IC2016_AY),Total price for in-state students living on campus 2016-17 (DRVIC2016),Total price for out-of-state students living on campus 2016-17 (DRVIC2016),Total price for in-state students living off campus (not with family) 2016-17 (DRVIC2016),Total price for out-of-state students living off campus (not with family) 2016-17 (DRVIC2016),Total price for in-state students living off campus (with family) 2016-17 (DRVIC2016),Total price for out-of-state students living off campus (with family) 2016-17 (DRVIC2016)
State abbreviation (HD2016),,,,,,,
AK,8745.57,22722.86,28229.86,26076.00,31583.00,13872.86,19379.86
AL,10221.51,24695.65,29101.97,23237.69,26520.37,15461.51,18744.18
AR,9165.08,26149.79,29314.50,23013.00,25221.69,14808.76,17017.45
AZ,9816.37,24845.36,31463.41,23762.41,28112.20,15872.76,20222.55
CA,14527.35,41333.92,46302.85,31866.24,35884.47,20126.77,24145.00
CO,12765.59,30453.36,37657.73,27582.48,32471.66,18366.57,23255.75
CT,19536.08,47145.33,50632.76,32932.05,39274.21,22670.08,29012.24
DC,25784.00,53391.71,53391.71,39542.30,40156.70,27878.60,28493.00
DE,15311.25,34444.40,40049.60,30357.75,34647.50,20452.88,24742.62
FL,14045.37,34715.67,38551.56,29301.90,32246.80,19679.64,22624.55
GA,12008.91,29959.39,34521.95,25392.88,28408.72,16818.14,19833.98
HI,9350.00,29162.67,34994.67,26818.50,31479.83,14076.00,18737.33
IA,18732.55,33202.89,34648.29,30429.63,31560.69,22815.00,23946.07
ID,10627.36,22490.10,28586.20,24217.57,29229.79,16197.50,21209.71
IL,18115.49,40369.72,42249.72,30825.40,32432.89,22839.89,24506.91
IN,21585.95,38930.05,42478.42,34455.28,37569.79,26068.29,29182.81
KS,11863.82,24515.61,26737.91,24556.48,26338.78,16787.60,18569.90
KY,14368.30,33477.84,36349.53,26939.32,31178.86,19459.96,23699.51
LA,11004.08,28864.19,36174.57,25438.71,29826.02,16340.71,20728.02
MA,27921.46,50578.22,52399.04,41219.21,43709.00,31870.76,34307.57
MD,16703.73,37796.04,42111.46,30898.27,34447.58,21485.02,25034.33
ME,17934.55,33140.83,36828.70,26007.54,29851.42,18557.88,22401.77
MI,15030.20,32079.83,35772.21,26528.40,29535.43,19057.42,22064.46
MN,15548.01,34149.60,35442.02,27322.51,28190.33,19740.79,20608.62
MO,14808.76,28975.33,31170.28,27394.42,28791.85,20010.36,21407.79
MS,8170.92,17452.90,20314.71,20148.61,22612.94,13176.31,15640.64
MT,7565.55,21942.07,28588.93,20137.45,25456.68,12604.59,17923.82
NC,11766.94,35181.34,39048.92,25621.60,29692.99,17133.14,21175.02
ND,7349.00,19160.18,22153.88,19322.55,21867.20,11762.55,14307.20
NE,14261.59,26443.25,28072.04,26719.39,27954.50,18551.24,19786.34
NH,20215.64,41149.80,44267.40,34982.24,39849.10,24220.10,29086.95
NJ,16931.94,36695.34,40060.03,33611.59,36123.72,22331.03,24843.16
NM,7029.69,22174.06,26892.94,21204.38,24343.44,11903.97,15043.03
NV,11457.29,28761.40,35654.40,27203.14,31882.64,17355.29,22034.79
NY,19079.68,35937.29,37972.24,34211.62,36330.75,23363.73,25474.06
OH,16217.78,37272.34,39751.43,29206.06,31820.61,21162.59,23777.14
OK,10802.50,23536.95,27875.79,24085.02,28118.29,16102.76,20136.02
OR,16227.70,37194.00,41835.41,29732.84,34320.33,20576.27,25163.76
PA,22641.82,42644.54,44787.80,36282.84,38359.06,27277.78,29343.02
RI,29450.33,50076.90,52842.00,41163.09,44334.09,32769.45,35940.45
SC,14021.88,32464.63,37340.00,27820.12,31382.40,19531.04,23093.33
SD,11853.05,27161.23,28651.00,24239.90,25162.14,16605.90,17528.14
TN,15864.42,33867.98,36761.36,29490.98,32769.47,21067.86,24346.35
TX,11894.17,26220.79,30001.78,25288.00,28161.14,17037.46,19910.61
UT,11987.86,23603.78,31557.89,25249.24,28345.28,17926.24,21022.28
VA,15834.40,37872.13,43864.11,28906.25,32655.12,20391.57,24140.44
VT,28787.89,45471.81,50124.81,41604.56,46637.06,32596.69,37629.19
WA,12795.70,32357.61,37409.39,27259.78,30864.64,17250.61,20855.48
WI,16013.48,33454.68,36848.41,28082.67,30596.95,20627.06,23141.35
WV,11292.24,27550.25,32463.65,23110.29,26730.08,15864.82,19484.61
WY,3223.75,13717.75,18850.75,15221.50,20354.50,6867.88,12000.88

In [28]:
#Sort for 2015
for column in cost_attendance_df:    
    unit = cost_attendance_df.filter(regex='UnitID')
    institution = cost_attendance_df.filter(regex='Institution Name')
    main = cost_attendance_df.filter(regex='HD2016')
    cost_2015 = cost_attendance_df.filter(regex='2015-16')

final_cost_2015 = unit.join(institution).join(main).join(cost_2015)

final_cost_2015.columns.to_list()

final_cost_2015.to_csv("Resources/Data/2015_cost.csv", index_label='UnitID')

In [29]:
#Sort for 2014
for column in cost_attendance_df:    
    unit = cost_attendance_df.filter(regex='UnitID')
    institution = cost_attendance_df.filter(regex='Institution Name')
    main = cost_attendance_df.filter(regex='HD2016')
    cost_2014 = cost_attendance_df.filter(regex='2014-15')

final_cost_2014 = unit.join(institution).join(main).join(cost_2014)

final_cost_2014.columns.to_list()

final_cost_2014.to_csv("Resources/Data/2014_cost.csv", index_label='UnitID')

In [30]:
#Sort for 2013
for column in cost_attendance_df:    
    unit = cost_attendance_df.filter(regex='UnitID')
    institution = cost_attendance_df.filter(regex='Institution Name')
    main = cost_attendance_df.filter(regex='HD2016')
    cost_2013 = cost_attendance_df.filter(regex='2013-14')

final_cost_2013 = unit.join(institution).join(main).join(cost_2013)

final_cost_2013.columns.to_list()

final_cost_2013.to_csv("Resources/Data/2013_cost.csv", index_label='UnitID')

In [31]:
#Sort for 2012
for column in cost_attendance_df:    
    unit = cost_attendance_df.filter(regex='UnitID')
    institution = cost_attendance_df.filter(regex='Institution Name')
    main = cost_attendance_df.filter(regex='HD2016')
    cost_2012 = cost_attendance_df.filter(regex='2012-13')

final_cost_2012 = unit.join(institution).join(main).join(cost_2012)

final_cost_2012.columns.to_list()

final_cost_2012.to_csv("Resources/Data/2012_cost.csv", index_label='UnitID')

In [32]:
#Sort for 2011
for column in cost_attendance_df:    
    unit = cost_attendance_df.filter(regex='UnitID')
    institution = cost_attendance_df.filter(regex='Institution Name')
    main = cost_attendance_df.filter(regex='HD2016')
    cost_2011 = cost_attendance_df.filter(regex='2011-12')

final_cost_2011 = unit.join(institution).join(main).join(cost_2011)

final_cost_2011.columns.to_list()

final_cost_2011.to_csv("Resources/Data/2011_cost.csv", index_label='UnitID')

In [33]:
#Sort for 2010
for column in cost_attendance_df:    
    unit = cost_attendance_df.filter(regex='UnitID')
    institution = cost_attendance_df.filter(regex='Institution Name')
    main = cost_attendance_df.filter(regex='HD2016')
    cost_2010 = cost_attendance_df.filter(regex='2010-11')

final_cost_2010 = unit.join(institution).join(main).join(cost_2010)

final_cost_2010.columns.to_list()

final_cost_2010.to_csv("Resources/Data/2010_cost.csv", index_label='UnitID')

In [34]:
#look at financial aid
financial_aid_df.columns.to_list()

['UnitID',
 'Institution Name',
 'Institution name alias (HD2016)',
 'Street address or post office box (HD2016)',
 'City location of institution (HD2016)',
 'State abbreviation (HD2016)',
 'Total number of full-time first-time degree/certificate seeking undergraduates - financial aid cohort (SFA1516)',
 'Number of full-time first-time undergraduates awarded federal  state  local or institutional grant aid (SFA1516)',
 'Percent of full-time first-time undergraduates awarded federal  state  local or institutional grant aid (SFA1516)',
 'Total amount of federal  state  local or institutional grant aid awarded to full-time first-time undergraduates (SFA1516)',
 'Average amount of federal  state  local or institutional grant aid awarded (SFA1516)',
 'Number of full-time first-time undergraduates awarded Pell grants (SFA1516)',
 'Percent of full-time first-time undergraduates awarded Pell grants (SFA1516)',
 'Total amount of Pell grant aid awarded to full-time first-time undergraduates (SFA1516)',
 'Average amount of Pell grant aid awarded to full-time first-time undergraduates (SFA1516)',
 'Number of full-time first-time undergraduates awarded federal student loans (SFA1516)',
 'Percent of full-time first-time undergraduates awarded federal student loans (SFA1516)',
 'Total amount of federal student loans awarded to full-time first-time undergraduates (SFA1516)',
 'Average amount of federal student loans awarded to full-time first-time undergraduates (SFA1516)',
 'Total number of full-time first-time degree/certificate seeking undergraduates - financial aid cohort (SFA1415)',
 'Number of full-time first-time undergraduates awarded federal  state  local or institutional grant aid (SFA1415)',
 'Percent of full-time first-time undergraduates awarded federal  state  local or institutional grant aid (SFA1415)',
 'Total amount of federal  state  local or institutional grant aid awarded to full-time first-time undergraduates (SFA1415)',
 'Average amount of federal  state  local or institutional grant aid awarded (SFA1415)',
 'Number of full-time first-time undergraduates awarded Pell grants (SFA1415)',
 'Percent of full-time first-time undergraduates awarded Pell grants (SFA1415)',
 'Total amount of Pell grant aid awarded to full-time first-time undergraduates (SFA1415)',
 'Average amount of Pell grant aid awarded to full-time first-time undergraduates (SFA1415)',
 'Number of full-time first-time undergraduates awarded federal student loans (SFA1415)',
 'Percent of full-time first-time undergraduates awarded federal student loans (SFA1415)',
 'Total amount of federal student loans awarded to full-time first-time undergraduates (SFA1415)',
 'Average amount of federal student loans awarded to full-time first-time undergraduates (SFA1415)',
 'Total number of full-time first-time degree/certificate seeking undergraduates - financial aid cohort (SFA1314)',
 'Number of full-time first-time undergraduates awarded federal  state  local or institutional grant aid (SFA1314)',
 'Percent of full-time first-time undergraduates awarded federal  state  local or institutional grant aid (SFA1314)',
 'Total amount of federal  state  local or institutional grant aid awarded to full-time first-time undergraduates (SFA1314)',
 'Average amount of federal  state  local or institutional grant aid awarded (SFA1314)',
 'Number of full-time first-time undergraduates awarded Pell grants (SFA1314)',
 'Percent of full-time first-time undergraduates awarded Pell grants (SFA1314)',
 'Total amount of Pell grant aid awarded to full-time first-time undergraduates (SFA1314)',
 'Average amount of Pell grant aid awarded to full-time first-time undergraduates (SFA1314)',
 'Number of full-time first-time undergraduates awarded federal student loans (SFA1314)',
 'Percent of full-time first-time undergraduates awarded federal student loans (SFA1314)',
 'Total amount of federal student loans awarded to full-time first-time undergraduates (SFA1314)',
 'Average amount of federal student loans awarded to full-time first-time undergraduates (SFA1314)',
 'Total number of full-time first-time degree/certificate seeking undergraduates - financial aid cohort (SFA1213)',
 'Number of full-time first-time undergraduates awarded federal  state  local or institutional grant aid (SFA1213)',
 'Percent of full-time first-time undergraduates awarded federal  state  local or institutional grant aid (SFA1213)',
 'Total amount of federal  state  local or institutional grant aid awarded to full-time first-time undergraduates (SFA1213)',
 'Average amount of federal  state  local or institutional grant aid awarded (SFA1213)',
 'Number of full-time first-time undergraduates awarded Pell grants (SFA1213)',
 'Percent of full-time first-time undergraduates awarded Pell grants (SFA1213)',
 'Total amount of Pell grant aid awarded to full-time first-time undergraduates (SFA1213)',
 'Average amount of Pell grant aid awarded to full-time first-time undergraduates (SFA1213)',
 'Number of full-time first-time undergraduates awarded federal student loans (SFA1213)',
 'Percent of full-time first-time undergraduates awarded federal student loans (SFA1213)',
 'Total amount of federal student loans awarded to full-time first-time undergraduates (SFA1213)',
 'Average amount of federal student loans awarded to full-time first-time undergraduates (SFA1213)',
 'Total number of full-time first-time degree/certificate seeking undergraduates - financial aid cohort (SFA1112)',
 'Number of full-time first-time undergraduates awarded federal  state  local or institutional grant aid (SFA1112)',
 'Percent of full-time first-time undergraduates awarded federal  state  local or institutional grant aid (SFA1112)',
 'Total amount of federal  state  local or institutional grant aid awarded to full-time first-time undergraduates (SFA1112)',
 'Average amount of federal  state  local or institutional grant aid awarded (SFA1112)',
 'Number of full-time first-time undergraduates awarded Pell grants (SFA1112)',
 'Percent of full-time first-time undergraduates awarded Pell grants (SFA1112)',
 'Total amount of Pell grant aid awarded to full-time first-time undergraduates (SFA1112)',
 'Average amount of Pell grant aid awarded to full-time first-time undergraduates (SFA1112)',
 'Number of full-time first-time undergraduates awarded federal student loans (SFA1112)',
 'Percent of full-time first-time undergraduates awarded federal student loans (SFA1112)',
 'Total amount of federal student loans awarded to full-time first-time undergraduates (SFA1112)',
 'Average amount of federal student loans awarded to full-time first-time undergraduates (SFA1112)',
 'Total number of full-time first-time degree/certificate seeking undergraduates - financial aid cohort (SFA1011)',
 'Number of full-time first-time undergraduates awarded federal  state  local or institutional grant aid (SFA1011)',
 'Percent of full-time first-time undergraduates awarded federal  state  local or institutional grant aid (SFA1011)',
 'Total amount of federal  state  local or institutional grant aid awarded to full-time first-time undergraduates (SFA1011)',
 'Average amount of federal  state  local or institutional grant aid awarded (SFA1011)',
 'Number of full-time first-time undergraduates awarded Pell grants (SFA1011)',
 'Percent of full-time first-time undergraduates awarded Pell grants (SFA1011)',
 'Total amount of Pell grant aid awarded to full-time first-time undergraduates (SFA1011)',
 'Average amount of Pell grant aid awarded to full-time first-time undergraduates (SFA1011)',
 'Number of full-time first-time undergraduates awarded federal student loans (SFA1011)',
 'Percent of full-time first-time undergraduates awarded federal student loans (SFA1011)',
 'Total amount of federal student loans awarded to full-time first-time undergraduates (SFA1011)',
 'Average amount of federal student loans awarded to full-time first-time undergraduates (SFA1011)',
 'Total number of full-time first-time degree/certificate seeking undergraduates - financial aid cohort (SFA0910)',
 'Number of full-time first-time undergraduates receiving federal  state  local or institutional grant aid (SFA0910)',
 'Percent of full-time first-time undergraduates receiving federal  state  local or institutional grant aid (SFA0910)',
 'Total amount of federal  state  local or institutional grant aid received by full-time first-time undergraduates (SFA0910)',
 'Average amount of federal  state  local or institutional grant aid received (SFA0910)',
 'Number of full-time first-time undergraduates receiving Pell grants (SFA0910)',
 'Percent of full-time first-time undergraduates receiving Pell grants (SFA0910)',
 'Total amount of Pell grant aid received by full-time first-time undergraduates (SFA0910)',
 'Average amount of Pell grant aid received by full-time first-time undergraduates (SFA0910)',
 'Number of full-time first-time undergraduates receiving federal student loan aid (SFA0910)',
 'Percent of full-time first-time undergraduates receiving federal student loan aid (SFA0910)',
 'Total amount of Federal student loan aid received by full-time first-time undergraduates (SFA0910)',
 'Average amount of federal student loan aid received by full-time first-time undergraduates (SFA0910)',
 'Total number of full-time first-time degree/certificate seeking undergraduates - financial aid cohort (SFA0809)',
 'Number of full-time first-time undergraduates receiving federal  state  local or institutional grant aid (SFA0809)',
 'Percent of full-time first-time undergraduates receiving federal  state  local or institutional grant aid (SFA0809)',
 'Total amount of federal  state  local or institutional grant aid received by full-time first-time undergraduates (SFA0809)',
 'Average amount of federal  state  local or institutional grant aid received (SFA0809)',
 'Number of full-time first-time undergraduates receiving Pell grants (SFA0809)',
 'Percent of full-time first-time undergraduates receiving Pell grants (SFA0809)',
 'Total amount of Pell grant aid received by full-time first-time undergraduates (SFA0809)',
 'Average amount of Pell grant aid received by full-time first-time undergraduates (SFA0809)',
 'Number of full-time first-time undergraduates receiving federal student loan aid (SFA0809)',
 'Percent of full-time first-time undergraduates receiving federal student loan aid (SFA0809)',
 'Total amount of Federal student loan aid received by full-time first-time undergraduates (SFA0809)',
 'Average amount of federal student loan aid received by full-time first-time undergraduates (SFA0809)']

In [35]:
#Sort for 2015
for column in financial_aid_df:    
    unit = financial_aid_df.filter(regex='UnitID')
    institution = financial_aid_df.filter(regex='Institution Name')
    main = financial_aid_df.filter(regex='HD2016')
    financial_aid_2015 = financial_aid_df.filter(regex='SFA1516')

financial_aid_2015 = unit.join(institution).join(main).join(financial_aid_2015)

financial_aid_2015.columns.to_list()

financial_aid_2015.to_csv("Resources/Data/2015_financial_aid.csv", index_label='UnitID')

In [36]:
#Sort for 2014
for column in financial_aid_df:    
    unit = financial_aid_df.filter(regex='UnitID')
    institution = financial_aid_df.filter(regex='Institution Name')
    main = financial_aid_df.filter(regex='HD2016')
    financial_aid_2014 = financial_aid_df.filter(regex='SFA1415')

financial_aid_2014 = unit.join(institution).join(main).join(financial_aid_2014)

financial_aid_2014.columns.to_list()

financial_aid_2014.to_csv("Resources/Data/2014_financial_aid.csv", index_label='UnitID')

In [37]:
#Sort for 2013
for column in financial_aid_df:    
    unit = financial_aid_df.filter(regex='UnitID')
    institution = financial_aid_df.filter(regex='Institution Name')
    main = financial_aid_df.filter(regex='HD2016')
    financial_aid_2013 = financial_aid_df.filter(regex='SFA1314')

financial_aid_2013 = unit.join(institution).join(main).join(financial_aid_2013)

financial_aid_2013.columns.to_list()

financial_aid_2013.to_csv("Resources/Data/2013_financial_aid.csv", index_label='UnitID')

In [38]:
#Sort for 2012
for column in financial_aid_df:    
    unit = financial_aid_df.filter(regex='UnitID')
    institution = financial_aid_df.filter(regex='Institution Name')
    main = financial_aid_df.filter(regex='HD2016')
    financial_aid_2012 = financial_aid_df.filter(regex='SFA1213')

financial_aid_2012 = unit.join(institution).join(main).join(financial_aid_2012)

financial_aid_2012.columns.to_list()

financial_aid_2012.to_csv("Resources/Data/2012_financial_aid.csv", index_label='UnitID')

In [39]:
#Sort for 2011
for column in financial_aid_df:    
    unit = financial_aid_df.filter(regex='UnitID')
    institution = financial_aid_df.filter(regex='Institution Name')
    main = financial_aid_df.filter(regex='HD2016')
    financial_aid_2011 = financial_aid_df.filter(regex='SFA1112')

financial_aid_2011 = unit.join(institution).join(main).join(financial_aid_2011)

financial_aid_2011.columns.to_list()

financial_aid_2011.to_csv("Resources/Data/2011_financial_aid.csv", index_label='UnitID')

In [40]:
#Sort for 2010
for column in financial_aid_df:    
    unit = financial_aid_df.filter(regex='UnitID')
    institution = financial_aid_df.filter(regex='Institution Name')
    main = financial_aid_df.filter(regex='HD2016')
    financial_aid_2010 = financial_aid_df.filter(regex='SFA1011')

financial_aid_2010 = unit.join(institution).join(main).join(financial_aid_2010)

financial_aid_2010.columns.to_list()

financial_aid_2010.to_csv("Resources/Data/2010_financial_aid.csv", index_label='UnitID')

In [41]:
#look at retention rates
retention_rates_df.columns.to_list()

['UnitID',
 'Institution Name',
 'Institution name alias (HD2016)',
 'Street address or post office box (HD2016)',
 'City location of institution (HD2016)',
 'State abbreviation (HD2016)',
 'Full-time retention rate  2016 (EF2016D)',
 'Part-time retention rate  2016 (EF2016D)',
 'Full-time retention rate  2015 (EF2015D)',
 'Part-time retention rate  2015 (EF2015D)',
 'Full-time retention rate  2014 (EF2014D)',
 'Part-time retention rate  2014 (EF2014D)',
 'Full-time retention rate  2013 (EF2013D)',
 'Part-time retention rate  2013 (EF2013D)',
 'Full-time retention rate  2012 (EF2012D)',
 'Part-time retention rate  2012 (EF2012D)',
 'Full-time retention rate  2011 (EF2011D)',
 'Part-time retention rate  2011 (EF2011D)',
 'Full-time retention rate  2010 (EF2010D)',
 'Part-time retention rate  2010 (EF2010D)',
 'Full-time retention rate  2009 (EF2009D)',
 'Part-time retention rate  2009 (EF2009D)',
 'Full-time retention rate  2008 (EF2008D)',
 'Part-time retention rate  2008 (EF2008D)']

In [42]:
#Sort for 2016
for column in retention_rates_df:    
    unit = retention_rates_df.filter(regex='UnitID')
    institution = retention_rates_df.filter(regex='Institution Name')
    main = retention_rates_df.filter(regex='HD2016')
    retention_rates_2016 = retention_rates_df.filter(regex='EF2016D')

retention_rates_2016 = unit.join(institution).join(main).join(retention_rates_2016)

retention_rates_2016.columns.to_list()

retention_rates_2016.to_csv("Resources/Data/2016_retention_rates.csv", index_label='UnitID')

In [43]:
#Sort for 2015
for column in retention_rates_df:    
    unit = retention_rates_df.filter(regex='UnitID')
    institution = retention_rates_df.filter(regex='Institution Name')
    main = retention_rates_df.filter(regex='HD2016')
    retention_rates_2015 = retention_rates_df.filter(regex='EF2015D')

retention_rates_2015 = unit.join(institution).join(main).join(retention_rates_2015)

retention_rates_2015.columns.to_list()

retention_rates_2015.to_csv("Resources/Data/2015_retention_rates.csv", index_label='UnitID')

In [44]:
#Sort for 2014
for column in retention_rates_df:    
    unit = retention_rates_df.filter(regex='UnitID')
    institution = retention_rates_df.filter(regex='Institution Name')
    main = retention_rates_df.filter(regex='HD2016')
    retention_rates_2014 = retention_rates_df.filter(regex='EF2014D')

retention_rates_2014 = unit.join(institution).join(main).join(retention_rates_2014)

retention_rates_2014.columns.to_list()

retention_rates_2014.to_csv("Resources/Data/2014_retention_rates.csv", index_label='UnitID')

In [45]:
#Sort for 2013
for column in retention_rates_df:    
    unit = retention_rates_df.filter(regex='UnitID')
    institution = retention_rates_df.filter(regex='Institution Name')
    main = retention_rates_df.filter(regex='HD2016')
    retention_rates_2013 = retention_rates_df.filter(regex='EF2013D')

retention_rates_2013 = unit.join(institution).join(main).join(retention_rates_2013)

retention_rates_2013.columns.to_list()

retention_rates_2013.to_csv("Resources/Data/2013_retention_rates.csv", index_label='UnitID')

In [46]:
#Sort for 2012
for column in retention_rates_df:    
    unit = retention_rates_df.filter(regex='UnitID')
    institution = retention_rates_df.filter(regex='Institution Name')
    main = retention_rates_df.filter(regex='HD2016')
    retention_rates_2012 = retention_rates_df.filter(regex='EF2012D')

retention_rates_2012 = unit.join(institution).join(main).join(retention_rates_2012)

retention_rates_2012.columns.to_list()

retention_rates_2012.to_csv("Resources/Data/2012_retention_rates.csv", index_label='UnitID')

In [47]:
#Sort for 2011
for column in retention_rates_df:    
    unit = retention_rates_df.filter(regex='UnitID')
    institution = retention_rates_df.filter(regex='Institution Name')
    main = retention_rates_df.filter(regex='HD2016')
    retention_rates_2011 = retention_rates_df.filter(regex='EF2011D')

retention_rates_2011 = unit.join(institution).join(main).join(retention_rates_2011)

retention_rates_2011.columns.to_list()

retention_rates_2011.to_csv("Resources/Data/2011_retention_rates.csv", index_label='UnitID')

In [48]:
#Sort for 2010
for column in retention_rates_df:    
    unit = retention_rates_df.filter(regex='UnitID')
    institution = retention_rates_df.filter(regex='Institution Name')
    main = retention_rates_df.filter(regex='HD2016')
    retention_rates_2010 = retention_rates_df.filter(regex='EF2010D')

retention_rates_2010 = unit.join(institution).join(main).join(retention_rates_2010)

retention_rates_2010.columns.to_list()

retention_rates_2010.to_csv("Resources/Data/2010_retention_rates.csv", index_label='UnitID')

In [49]:
retention_rates_2010.dropna()

,UnitID,Institution Name,Institution name alias (HD2016),Street address or post office box (HD2016),City location of institution (HD2016),State abbreviation (HD2016),Full-time retention rate 2010 (EF2010D),Part-time retention rate 2010 (EF2010D)
1,222178,Abilene Christian University,,,Abilene,TX,71.0,0.0
2,138558,Abraham Baldwin Agricultural College,ABAC,2802 Moore Hwy,Tifton,GA,68.0,0.0
6,108232,Academy of Art University,,79 New Montgomery,San Francisco,CA,63.0,37.0
8,126182,Adams State University,,208 Edgemont Blvd,Alamosa,CO,62.0,67.0
9,188429,Adelphi University,,South Ave,Garden City,NY,82.0,75.0
...,...,...,...,...,...,...,...,...
3836,218991,York Technical College,,452 S Anderson Rd,Rock Hill,SC,52.0,39.0
3837,141361,Young Harris College,YHC |Young Harris,1 College Street,Young Harris,GA,67.0,64.0
3838,206695,Youngstown State University,,One University Plaza,Youngstown,OH,68.0,43.0
3841,126119,Yuba College,,2088 N Beale Rd,Marysville,CA,67.0,34.0
3842,204255,Zane State College,,1555 Newark Rd,Zanesville,OH,56.0,45.0

In [50]:
financial_aid_2013.isna().sum()

UnitID                                                                                                                         0
Institution Name                                                                                                               0
Institution name alias (HD2016)                                                                                               33
Street address or post office box (HD2016)                                                                                    33
City location of institution (HD2016)                                                                                         33
State abbreviation (HD2016)                                                                                                   33
Total number of full-time first-time degree/certificate seeking undergraduates - financial aid cohort (SFA1314)              121
Number of full-time first-time undergraduates awarded federal  state  local or institutional grant aid (SFA1314)             178
Percent of full-time first-time undergraduates awarded federal  state  local or institutional grant aid (SFA1314)            178
Total amount of federal  state  local or institutional grant aid awarded to full-time first-time undergraduates (SFA1314)    178
Average amount of federal  state  local or institutional grant aid awarded (SFA1314)                                         197
Number of full-time first-time undergraduates awarded Pell grants (SFA1314)                                                  178
Percent of full-time first-time undergraduates awarded Pell grants (SFA1314)                                                 178
Total amount of Pell grant aid awarded to full-time first-time undergraduates (SFA1314)                                      178
Average amount of Pell grant aid awarded to full-time first-time undergraduates (SFA1314)                                    214
Number of full-time first-time undergraduates awarded federal student loans (SFA1314)                                        178
Percent of full-time first-time undergraduates awarded federal student loans (SFA1314)                                       178
Total amount of federal student loans awarded to full-time first-time undergraduates (SFA1314)                               178
Average amount of federal student loans awarded to full-time first-time undergraduates (SFA1314)                             442
dtype: int64