In [1]:
#Dependencies
import pandas as pd
import numpy as np
import matplotlib as mpl
from sqlalchemy import create_engine
from config import db_password

### Loading CSV's

In [2]:
# load files
grad_rates_df = pd.read_csv("Resources/grad-rates.csv")
cost_attendance_df = pd.read_csv("Resources/cost-attendance.csv")

### Graduation rates per year (mean)

In [3]:
# rates function
def filt_rates(cur_df, year_input, length_input): 
    final_df = {}
    df = {}
    for columns in cur_df:
        unit = cur_df.filter(regex='UnitID')
        institution = cur_df.filter(regex='Institution Name')
        main = cur_df.filter(regex='HD2016')
        rates = cur_df.filter(regex=year_input)
        for column in rates:
            year = cur_df.filter(regex=year_input)
            for column in year:
                length = year.filter(regex=length_input)
                for column in length:
                    calc = length.filter(regex='CALCULATED')
                    df = unit.join(institution).join(main).join(calc)
                return df
        return df
        for row in df:
            rows_to_keep = [row for rows in df.rows if df[row].isna().sum() >= 9]
            final_df = df[rows_to_keep] #.dropna(axis=0, thresh=6, inplace=True)
        return final_df
    return final_df

In [4]:
#2016 rates
final_rates = filt_rates(grad_rates_df, '2016', '4-yr')
columns = final_rates.columns.to_list()[6:]
final_rates_2016 = final_rates.dropna(subset=columns, thresh=1).reset_index(drop=True)
avg_2016 = []

for column in final_rates_2016:
    avg = final_rates_2016.mean()
    for column in avg:
        calc = avg.filter(regex='CALCULATED')
df_2016_4 = pd.DataFrame(calc)
avg_2016_4 = pd.DataFrame(df_2016_4)
avg_2016_4.set_axis({'Rates'}, axis=1)
avg_2016_4.to_csv("Resources/Data/2016_rates_4.csv")

C:\Users\mthal\AppData\Local\Temp/ipykernel_11732/2767167752.py:8: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  avg = final_rates_2016.mean()

In [5]:
#2016 rates
final_rates = filt_rates(grad_rates_df, '2016', '2-yr')
columns = final_rates.columns.to_list()[6:]
final_rates_2016 = final_rates.dropna(subset=columns, thresh=1).reset_index(drop=True)
avg_2016 = []

for column in final_rates_2016:
    avg = final_rates_2016.mean()
    for column in avg:
        calc = avg.filter(regex='CALCULATED')
df_2016_2 = pd.DataFrame(calc)
avg_2016_2 = pd.DataFrame(df_2016_2)
avg_2016_2.set_axis({'Rates'}, axis=1)
avg_2016_2.to_csv("Resources/Data/2016_rates_2.csv")

C:\Users\mthal\AppData\Local\Temp/ipykernel_11732/435901602.py:8: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  avg = final_rates_2016.mean()

In [6]:
#2015 rates
final_rates = filt_rates(grad_rates_df, '2015', '4-yr')
columns = final_rates.columns.to_list()[6:]
final_rates_2015 = final_rates.dropna(subset=columns, thresh=1).reset_index(drop=True)
avg_2015 = []

for column in final_rates_2015:
    avg = final_rates_2015.mean()
    for column in avg:
        calc = avg.filter(regex='CALCULATED')
df_2015_4 = pd.DataFrame(calc)
avg_2015_4 = pd.DataFrame(df_2015_4)
avg_2015_4.set_axis({'Rates'}, axis=1)
avg_2015_4.to_csv("Resources/Data/2015_rates_4.csv")

C:\Users\mthal\AppData\Local\Temp/ipykernel_11732/2025200992.py:8: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  avg = final_rates_2015.mean()

In [7]:
#2015 rates
final_rates = filt_rates(grad_rates_df, '2015', '2-yr')
columns = final_rates.columns.to_list()[6:]
final_rates_2015 = final_rates.dropna(subset=columns, thresh=1).reset_index(drop=True)
avg_2015 = []

for column in final_rates_2015:
    avg = final_rates_2015.mean()
    for column in avg:
        calc = avg.filter(regex='CALCULATED')
df_2015_2 = pd.DataFrame(calc)
avg_2015_2 = pd.DataFrame(df_2015_2)
avg_2015_2.set_axis({'Rates'}, axis=1)
avg_2015_2.to_csv("Resources/Data/2015_rates_2.csv")

C:\Users\mthal\AppData\Local\Temp/ipykernel_11732/4041718083.py:8: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  avg = final_rates_2015.mean()

In [8]:
#2014 rates
final_rates = filt_rates(grad_rates_df, '2014', '4-yr')
columns = final_rates.columns.to_list()[6:]
final_rates_2014 = final_rates.dropna(subset=columns, thresh=1).reset_index(drop=True)
avg_2014 = []

for column in final_rates_2014:
    avg = final_rates_2014.mean()
    for column in avg:
        calc = avg.filter(regex='CALCULATED')
df_2014_4 = pd.DataFrame(calc)
avg_2014_4 = pd.DataFrame(df_2014_4)
avg_2014_4.set_axis({'Rates'}, axis=1)
avg_2014_4.to_csv("Resources/Data/2014_rates_4.csv")

C:\Users\mthal\AppData\Local\Temp/ipykernel_11732/377989515.py:8: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  avg = final_rates_2014.mean()

In [9]:
#2014 rates
final_rates = filt_rates(grad_rates_df, '2014', '2-yr')
columns = final_rates.columns.to_list()[6:]
final_rates_2014 = final_rates.dropna(subset=columns, thresh=1).reset_index(drop=True)
avg_2014 = []

for column in final_rates_2014:
    avg = final_rates_2014.mean()
    for column in avg:
        calc = avg.filter(regex='CALCULATED')
df_2014_2 = pd.DataFrame(calc)
avg_2014_2 = pd.DataFrame(df_2014_2)
avg_2014_2.set_axis({'Rates'}, axis=1)
avg_2014_2.to_csv("Resources/Data/2014_rates_2.csv")

C:\Users\mthal\AppData\Local\Temp/ipykernel_11732/3791263571.py:8: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  avg = final_rates_2014.mean()

In [10]:
#2013 rates
final_rates = filt_rates(grad_rates_df, '2013', '4-yr')
columns = final_rates.columns.to_list()[6:]
final_rates_2013 = final_rates.dropna(subset=columns, thresh=1).reset_index(drop=True)
avg_2013 = []

for column in final_rates_2013:
    avg = final_rates_2013.mean()
    for column in avg:
        calc = avg.filter(regex='CALCULATED')
df_2013_4 = pd.DataFrame(calc)
avg_2013_4 = pd.DataFrame(df_2013_4)
avg_2013_4.set_axis({'Rates'}, axis=1)
avg_2013_4.to_csv("Resources/Data/2013_rates_4.csv")

C:\Users\mthal\AppData\Local\Temp/ipykernel_11732/4088002545.py:8: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  avg = final_rates_2013.mean()

In [11]:
#2013 rates
final_rates = filt_rates(grad_rates_df, '2013', '2-yr')
columns = final_rates.columns.to_list()[6:]
final_rates_2013 = final_rates.dropna(subset=columns, thresh=1).reset_index(drop=True)
avg_2013 = []

for column in final_rates_2013:
    avg = final_rates_2013.mean()
    for column in avg:
        calc = avg.filter(regex='CALCULATED')
df_2013_2 = pd.DataFrame(calc)
avg_2013_2 = pd.DataFrame(df_2013_2)
avg_2013_2.set_axis({'Rates'}, axis=1)
avg_2013_2.to_csv("Resources/Data/2013_rates_2.csv")

C:\Users\mthal\AppData\Local\Temp/ipykernel_11732/678221097.py:8: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  avg = final_rates_2013.mean()

In [12]:
#2012 rates
final_rates = filt_rates(grad_rates_df, '2012', '4-yr')
columns = final_rates.columns.to_list()[6:]
final_rates_2012 = final_rates.dropna(subset=columns, thresh=1).reset_index(drop=True)
avg_2012 = []

for column in final_rates_2012:
    avg = final_rates_2012.mean()
    for column in avg:
        calc = avg.filter(regex='CALCULATED')
df_2012_4 = pd.DataFrame(calc)
avg_2012_4 = pd.DataFrame(df_2012_4)
avg_2012_4.set_axis({'Rates'}, axis=1)
avg_2012_4.to_csv("Resources/Data/2012_rates_4.csv")

C:\Users\mthal\AppData\Local\Temp/ipykernel_11732/2779762505.py:8: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  avg = final_rates_2012.mean()

In [13]:
#2012 rates
final_rates = filt_rates(grad_rates_df, '2012', '2-yr')
columns = final_rates.columns.to_list()[6:]
final_rates_2012 = final_rates.dropna(subset=columns, thresh=1).reset_index(drop=True)
avg_2012 = []

for column in final_rates_2012:
    avg = final_rates_2012.mean()
    for column in avg:
        calc = avg.filter(regex='CALCULATED')
df_2012_2 = pd.DataFrame(calc)
avg_2012_2 = pd.DataFrame(df_2012_2)
avg_2012_2.set_axis({'Rates'}, axis=1)
avg_2012_2.to_csv("Resources/Data/2012_rates_2.csv")

C:\Users\mthal\AppData\Local\Temp/ipykernel_11732/1293363237.py:8: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  avg = final_rates_2012.mean()

In [14]:
#2011 rates
final_rates = filt_rates(grad_rates_df, '2011', '4-yr')
columns = final_rates.columns.to_list()[6:]
final_rates_2011 = final_rates.dropna(subset=columns, thresh=1).reset_index(drop=True)
avg_2011 = []

for column in final_rates_2011:
    avg = final_rates_2011.mean()
    for column in avg:
        calc = avg.filter(regex='CALCULATED')
df_2011_4 = pd.DataFrame(calc)
avg_2011_4 = pd.DataFrame(df_2011_4)
avg_2011_4.set_axis({'Rates'}, axis=1)
avg_2011_4.to_csv("Resources/Data/2011_rates_4.csv")

C:\Users\mthal\AppData\Local\Temp/ipykernel_11732/1352002218.py:8: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  avg = final_rates_2011.mean()

In [15]:
#2011 rates
final_rates = filt_rates(grad_rates_df, '2011', '2-yr')
columns = final_rates.columns.to_list()[6:]
final_rates_2011 = final_rates.dropna(subset=columns, thresh=1).reset_index(drop=True)
avg_2011 = []

for column in final_rates_2011:
    avg = final_rates_2011.mean()
    for column in avg:
        calc = avg.filter(regex='CALCULATED')
df_2011_2 = pd.DataFrame(calc)
avg_2011_2 = pd.DataFrame(df_2011_2)
avg_2011_2.set_axis({'Rates'}, axis=1)
avg_2011_2.to_csv("Resources/Data/2011_rates_2.csv")

C:\Users\mthal\AppData\Local\Temp/ipykernel_11732/2397396520.py:8: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  avg = final_rates_2011.mean()

### Graduation rates per year

In [16]:
# rates function
def filt_total_rates(cur_df, year_input): 
    final_df = {}
    df = {}
    for columns in cur_df:
        unit = cur_df.filter(regex='UnitID')
        institution = cur_df.filter(regex='Institution Name')
        main = cur_df.filter(regex='HD2016')
        rates = cur_df.filter(regex=year_input)
        for column in rates:
            year = cur_df.filter(regex=year_input)
            for column in year:
                calc = year.filter(regex='CALCULATED')
                df = unit.join(institution).join(main).join(calc)
            return df
        return df
        for row in df:
            rows_to_keep = [row for rows in df.rows if df[row].isna().sum() >= 9]
            final_df = df[rows_to_keep] 
        return final_df
    return final_df

In [17]:
#2011 rates
year_rates = filt_total_rates(grad_rates_df, '2011')

columns = year_rates.columns.to_list()[6:]

df_2011 = year_rates.dropna(subset=columns, thresh=1).reset_index(drop=True)
df_2011.to_csv("Resources/Data/2011_rates.csv")

In [18]:
#2012 rates
year_rates = filt_total_rates(grad_rates_df, '2012')

columns = year_rates.columns.to_list()[6:]

df_2012 = year_rates.dropna(subset=columns, thresh=1).reset_index(drop=True)
df_2012.to_csv("Resources/Data/2012_rates.csv")

In [19]:
#2013 rates
year_rates = filt_total_rates(grad_rates_df, '2013')

columns = year_rates.columns.to_list()[6:]

df_2013 = year_rates.dropna(subset=columns, thresh=1).reset_index(drop=True)
df_2013.to_csv("Resources/Data/2013_rates.csv")

In [20]:
#2014 rates
year_rates = filt_total_rates(grad_rates_df, '2014')

columns = year_rates.columns.to_list()[6:]

df_2014 = year_rates.dropna(subset=columns, thresh=1).reset_index(drop=True)
df_2014.to_csv("Resources/Data/2014_rates.csv")

In [21]:
#2015 rates
year_rates = filt_total_rates(grad_rates_df, '2015')

columns = year_rates.columns.to_list()[6:]

df_2015 = year_rates.dropna(subset=columns, thresh=1).reset_index(drop=True)
df_2015.to_csv("Resources/Data/2015_rates.csv")

In [22]:
#2016 rates
year_rates = filt_total_rates(grad_rates_df, '2016')

columns = year_rates.columns.to_list()[6:]

df_2016 = year_rates.dropna(subset=columns, thresh=1).reset_index(drop=True)
df_2016.to_csv("Resources/Data/2016_rates.csv")

### Cost

In [23]:
#2017
for column in cost_attendance_df:    
    unit = cost_attendance_df.filter(regex='UnitID')
    institution = cost_attendance_df.filter(regex='Institution Name')
    main = cost_attendance_df.filter(regex='HD2016')
    cost_2017 = cost_attendance_df.filter(regex='2017-18')

cost = unit.join(institution).join(main).join(cost_2017)

columns = cost.columns.to_list()[6:]
filtered = cost.dropna(subset=columns, thresh=1).reset_index(drop=True)
for column in filtered:
    final_cost_2017 = pd.DataFrame(filtered.mean())[1:]
final_cost_2017.to_csv("Resources/Data/2017_cost.csv")

C:\Users\mthal\AppData\Local\Temp/ipykernel_11732/850379153.py:13: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  final_cost_2017 = pd.DataFrame(filtered.mean())[1:]

In [24]:
#2016
for column in cost_attendance_df:    
    unit = cost_attendance_df.filter(regex='UnitID')
    institution = cost_attendance_df.filter(regex='Institution Name')
    main = cost_attendance_df.filter(regex='HD2016')
    cost_2016 = cost_attendance_df.filter(regex='2016-17')

cost = unit.join(institution).join(main).join(cost_2016)

columns = cost.columns.to_list()[6:]
filtered = cost.dropna(subset=columns, thresh=1).reset_index(drop=True)
for column in filtered:
    final_cost_2016 = pd.DataFrame(filtered.mean())[1:]
final_cost_2016.to_csv("Resources/Data/2016_cost.csv")

C:\Users\mthal\AppData\Local\Temp/ipykernel_11732/1586828155.py:13: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  final_cost_2016 = pd.DataFrame(filtered.mean())[1:]

In [25]:
#2015
for column in cost_attendance_df:    
    unit = cost_attendance_df.filter(regex='UnitID')
    institution = cost_attendance_df.filter(regex='Institution Name')
    main = cost_attendance_df.filter(regex='HD2016')
    cost_2015 = cost_attendance_df.filter(regex='2015-16')

cost = unit.join(institution).join(main).join(cost_2015)

columns = cost.columns.to_list()[6:]
filtered = cost.dropna(subset=columns, thresh=1).reset_index(drop=True)
for column in filtered:
    final_cost_2015 = pd.DataFrame(filtered.mean())[1:]
final_cost_2015.to_csv("Resources/Data/2015_cost.csv")

C:\Users\mthal\AppData\Local\Temp/ipykernel_11732/3327950412.py:13: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  final_cost_2015 = pd.DataFrame(filtered.mean())[1:]

In [26]:
#2014
for column in cost_attendance_df:    
    unit = cost_attendance_df.filter(regex='UnitID')
    institution = cost_attendance_df.filter(regex='Institution Name')
    main = cost_attendance_df.filter(regex='HD2016')
    cost_2014 = cost_attendance_df.filter(regex='2014-15')

cost = unit.join(institution).join(main).join(cost_2014)

columns = cost.columns.to_list()[6:]
filtered = cost.dropna(subset=columns, thresh=1).reset_index(drop=True)
for column in filtered:
    final_cost_2014 = pd.DataFrame(filtered.mean())[1:]
final_cost_2014.to_csv("Resources/Data/2014_cost.csv")

C:\Users\mthal\AppData\Local\Temp/ipykernel_11732/3152348994.py:13: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  final_cost_2014 = pd.DataFrame(filtered.mean())[1:]

In [27]:
#2013
for column in cost_attendance_df:    
    unit = cost_attendance_df.filter(regex='UnitID')
    institution = cost_attendance_df.filter(regex='Institution Name')
    main = cost_attendance_df.filter(regex='HD2016')
    cost_2013 = cost_attendance_df.filter(regex='2013-14')

cost = unit.join(institution).join(main).join(cost_2013)

columns = cost.columns.to_list()[6:]
filtered = cost.dropna(subset=columns, thresh=1).reset_index(drop=True)
for column in filtered:
    final_cost_2013 = pd.DataFrame(filtered.mean())[1:]
final_cost_2013.to_csv("Resources/Data/2013_cost.csv")

C:\Users\mthal\AppData\Local\Temp/ipykernel_11732/281133106.py:13: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  final_cost_2013 = pd.DataFrame(filtered.mean())[1:]

In [28]:
#2012
for column in cost_attendance_df:    
    unit = cost_attendance_df.filter(regex='UnitID')
    institution = cost_attendance_df.filter(regex='Institution Name')
    main = cost_attendance_df.filter(regex='HD2016')
    cost_2012 = cost_attendance_df.filter(regex='2012-13')

cost = unit.join(institution).join(main).join(cost_2012)

columns = cost.columns.to_list()[6:]
filtered = cost.dropna(subset=columns, thresh=1).reset_index(drop=True)
for column in filtered:
    final_cost_2012 = pd.DataFrame(filtered.mean())[1:]
final_cost_2012.to_csv("Resources/Data/2012_cost.csv")

C:\Users\mthal\AppData\Local\Temp/ipykernel_11732/3578706038.py:13: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  final_cost_2012 = pd.DataFrame(filtered.mean())[1:]

In [29]:
#2011
for column in cost_attendance_df:    
    unit = cost_attendance_df.filter(regex='UnitID')
    institution = cost_attendance_df.filter(regex='Institution Name')
    main = cost_attendance_df.filter(regex='HD2016')
    cost_2016 = cost_attendance_df.filter(regex='2011-12')

cost = unit.join(institution).join(main).join(cost_2017)

columns = cost.columns.to_list()[6:]
filtered = cost.dropna(subset=columns, thresh=1).reset_index(drop=True)
for column in filtered:
    final_cost_2011 = pd.DataFrame(filtered.mean())[1:]
final_cost_2011.to_csv("Resources/Data/2011_cost.csv")

C:\Users\mthal\AppData\Local\Temp/ipykernel_11732/4112568711.py:13: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  final_cost_2011 = pd.DataFrame(filtered.mean())[1:]

### Connect to postgresql

In [30]:
#create string and engine to connect to postgresql
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Tuition"
engine = create_engine(db_string)

#upload final cost by year to postgresql
final_cost_2011.to_sql(name='final_cost_2011', con=engine, if_exists='replace')
final_cost_2012.to_sql(name='final_cost_2012', con=engine, if_exists='replace')
final_cost_2013.to_sql(name='final_cost_2013', con=engine, if_exists='replace')
final_cost_2014.to_sql(name='final_cost_2014', con=engine, if_exists='replace')
final_cost_2015.to_sql(name='final_cost_2015', con=engine, if_exists='replace')
final_cost_2016.to_sql(name='final_cost_2016', con=engine, if_exists='replace')
final_cost_2017.to_sql(name='final_cost_2017', con=engine, if_exists='replace')

#upload rates by year to postgresql
df_2011.to_sql(name='2011_rates', con=engine, if_exists='replace')
df_2012.to_sql(name='2012_rates', con=engine, if_exists='replace')
df_2013.to_sql(name='2013_rates', con=engine, if_exists='replace')
df_2014.to_sql(name='2014_rates', con=engine, if_exists='replace')
df_2015.to_sql(name='2015_rates', con=engine, if_exists='replace')
df_2016.to_sql(name='2016_rates', con=engine, if_exists='replace')

#upload average rate by year to postgresql
avg_2016_4.to_sql(name='2016_avg_rates_4', con=engine, if_exists='replace')
avg_2016_2.to_sql(name='2016_avg_rates_2', con=engine, if_exists='replace')
avg_2015_4.to_sql(name='2015_avg_rates_4', con=engine, if_exists='replace')
avg_2015_2.to_sql(name='2015_avg_rates_2', con=engine, if_exists='replace')
avg_2014_4.to_sql(name='2014_avg_rates_4', con=engine, if_exists='replace')
avg_2014_2.to_sql(name='2014_avg_rates_2', con=engine, if_exists='replace')
avg_2013_4.to_sql(name='2013_avg_rates_4', con=engine, if_exists='replace')
avg_2013_2.to_sql(name='2013_avg_rates_2', con=engine, if_exists='replace')
avg_2012_4.to_sql(name='2012_avg_rates_4', con=engine, if_exists='replace')
avg_2012_2.to_sql(name='2012_avg_rates_2', con=engine, if_exists='replace')
avg_2011_4.to_sql(name='2011_avg_rates_4', con=engine, if_exists='replace')
avg_2011_2.to_sql(name='2011_avg_rates_2', con=engine, if_exists='replace')